In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

import common
from common import FILE_PATH
from common import MODEL_PATH

st = sns.axes_style("whitegrid")
sns.set_style("ticks", {"xtick.major.size": 8, "ytick.major.size": 8})

plt.rcParams ['font.family'] = 'NanumGothic'

import warnings
warnings.filterwarnings("ignore")

In [2]:
# 리뷰 정보 읽어들이기
reviews = pd.read_csv (FILE_PATH + 'reviews.txt', sep = ',', 
                       dtype = {'review_id' : 'object', 'user_id' : 'object', 'product_id' : 'object'})
reviews.head ()

,contents,created_at,is_evaluation,like_count,rating,review_id,state,user_id,product_id
0,"티 컬렉션으로 출시되었던 제품으로, 가벼운 녹차향이 납니다. 향 자체는 좀 날리는 ...",2020-04-30T02:12:36Z,False,0,3,5416271,N,119763,100000
1,살짝 로션같이 짜지고 묽음.\r\n향은 독하지 않고 적절히 향긋함.\r\n거품잘남\...,2020-03-15T09:08:20Z,False,0,4,5340616,N,338669,100000
2,"해피바스는 무난하고 순한 매력이 있음! 다른것들도 잘 썼지만 정말 무난함,, 그치만...",2020-01-21T01:29:44Z,False,0,3,5228598,N,24862,100000
3,순하고 가격적으로 무난해서 쓰기 괜찮아요오오,2020-01-18T08:03:59Z,False,0,4,5225359,N,1331797,100000
4,성분이 착해서 샀고 타입이 폼이라 짜서 쓰는 젤보다 약간 귀찮지만 거품은 바로 많이...,2020-01-11T07:15:15Z,False,0,4,5211274,N,888968,100000

In [3]:
reviews.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1574817 entries, 0 to 1574816
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   contents       1574817 non-null  object
 1   created_at     1574817 non-null  object
 2   is_evaluation  1574817 non-null  bool
 3   like_count     1574817 non-null  int64
 4   rating         1574817 non-null  int64
 5   review_id      1574817 non-null  object
 6   state          1574817 non-null  object
 7   user_id        1574817 non-null  object
 8   product_id     1574817 non-null  object
dtypes: bool(1), int64(2), object(6)
memory usage: 97.6+ MB

In [4]:
reviews.isnull ().sum ()

contents         0
created_at       0
is_evaluation    0
like_count       0
rating           0
review_id        0
state            0
user_id          0
product_id       0
dtype: int64

In [109]:
users = pd.read_csv (FILE_PATH + 'users.txt', sep = ',', dtype = {'user_id' : 'object'})
users.head ()

,age,birth_year,email,gender,is_blinded,is_closed,is_inactivated,nickname,profile_image,rank,review_count,skin_type,user_id
0,31.0,1990.0,yhcu88@naver.com,f,0,False,False,희뷰리,https://d9vmi5fxk1gsw.cloudfront.net/prod/regi...,27347,44,복합성,1281918
1,33.0,1988.0,winwinanna@hanmail.net,f,0,False,False,소극적인뷰터,NaN,41582,15,건성,1255686
2,37.0,1984.0,dmswjddlskfk@hanmail.net,f,0,False,False,greengables,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,946,375,지성,631689
3,32.0,1989.0,deer402@naver.com,f,0,False,True,백비송,https://d9vmi5fxk1gsw.cloudfront.net/prod/regi...,43404,29,건성,1188087
4,26.0,1995.0,kkr3348@naver.com,f,0,False,False,초코감귤,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,9386,97,복합성,632220

In [6]:
users.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76490 entries, 0 to 76489
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             76489 non-null  float64
 1   birth_year      76489 non-null  float64
 2   email           76490 non-null  object
 3   gender          76490 non-null  object
 4   is_blinded      76490 non-null  int64
 5   is_closed       76490 non-null  bool
 6   is_inactivated  76490 non-null  bool
 7   nickname        76489 non-null  object
 8   profile_image   44893 non-null  object
 9   rank            76490 non-null  int64
 10  review_count    76490 non-null  int64
 11  skin_type       76490 non-null  object
 12  user_id         76490 non-null  object
dtypes: bool(2), float64(2), int64(3), object(6)
memory usage: 6.6+ MB

In [97]:
users.describe ()

                age    birth_year  is_blinded          rank  review_count
count  76456.000000  76456.000000     76456.0  7.645600e+04  76456.000000
mean      25.250118   1995.749882         0.0  6.909060e+04     41.476823
std        5.984109      5.984109         0.0  5.044060e+05     56.878904
min        2.000000   1932.000000         0.0  1.000000e+00    -46.000000
25%       21.000000   1993.000000         0.0  1.853600e+04     10.000000
50%       25.000000   1996.000000         0.0  3.840400e+04     26.000000
75%       28.000000   2000.000000         0.0  6.279600e+04     51.000000
max       89.000000   2019.000000         0.0  9.999999e+06   2003.000000

In [102]:
users ['age'].mean (axis = 0)

25.352821974401547

In [103]:
# 나이와 생년 결측치를 평균값으로 치환
user_age_mean = users ['age'].mean (axis = 0)
user_birth_mean = users ['birth_year'].mean (axis = 0)

users ['age'].fillna (user_age_mean, inplace = True)
users ['birth_year'].fillna (user_birth_mean, inplace = True)

In [104]:
users.head ()

,age,birth_year,email,gender,is_blinded,is_closed,is_inactivated,nickname,profile_image,rank,review_count,skin_type,user_id
0,31.0,1990.0,yhcu88@naver.com,f,0,False,False,희뷰리,https://d9vmi5fxk1gsw.cloudfront.net/prod/regi...,27347,44,복합성,1281918
1,33.0,1988.0,winwinanna@hanmail.net,f,0,False,False,소극적인뷰터,NaN,41582,15,건성,1255686
2,37.0,1984.0,dmswjddlskfk@hanmail.net,f,0,False,False,greengables,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,946,375,지성,631689
3,32.0,1989.0,deer402@naver.com,f,0,False,True,백비송,https://d9vmi5fxk1gsw.cloudfront.net/prod/regi...,43404,29,건성,1188087
4,26.0,1995.0,kkr3348@naver.com,f,0,False,False,초코감귤,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,9386,97,복합성,632220

In [105]:
users.isnull ().sum ()

age                   0
birth_year            0
email                 0
gender                0
is_blinded            0
is_closed             0
is_inactivated        0
nickname              1
profile_image     31597
rank                  0
review_count          0
skin_type             0
user_id               0
dtype: int64

In [8]:
products = pd.read_csv (FILE_PATH + 'products.txt', sep = ',', dtype = {'id' : 'object'})
products.rename (columns = {'id' : 'product_id'}, inplace = True)


products.head ()

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo
0,108711,5,코스메티 LED 마스크,1ea,219000,4,3.75,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '아름다운연구소', 'br...",{'goodsCount': 0}
1,118971,6,LED 마스크,1ea,149000,2,4.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '에끌레어 (eclair)...",{'goodsCount': 0}
2,118819,7,디쎄 1.0 LED 마스크 [업무용],1ea,1320000,1,5.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0}
3,90929,8,LED 리얼 마스크,1ea,198000,1,4.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '솔루미에스테 (SOLLU...",{'goodsCount': 0}
4,127206,9,인텐시브 LED 마스크 프리미엄,1ea,1517100,1,5.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '엘리닉 (L Linic)...",{'goodsCount': 0}

In [9]:
products.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89059 entries, 0 to 89058
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      89059 non-null  object
 1   rank            89059 non-null  object
 2   title           89059 non-null  object
 3   volume          89059 non-null  object
 4   price           89036 non-null  object
 5   reviewCnt       89059 non-null  object
 6   ratingAvg       89059 non-null  object
 7   productImg      89058 non-null  object
 8   isDiscontinue   89059 non-null  object
 9   rankChange      89059 non-null  object
 10  rankChangeType  89059 non-null  object
 11  brand           89059 non-null  object
 12  goodsInfo       89059 non-null  object
dtypes: object(13)
memory usage: 8.8+ MB

In [10]:
products.isnull ().sum ()

product_id         0
rank               0
title              0
volume             0
price             23
reviewCnt          0
ratingAvg          0
productImg         1
isDiscontinue      0
rankChange         0
rankChangeType     0
brand              0
goodsInfo          0
dtype: int64

In [134]:
product_categories = pd.read_csv (FILE_PATH + 'product_categories.txt', sep = ',')
product_categories.head ()

,firstCategoryText,idFirstCategory,idSecondCategory,idThirdCategory,secondCategoryText,thirdCategoryText,product_id
0,프래그런스,15,83,246,향수,여성향수,10000
1,클렌징,7,32,112,페이셜클렌저,클렌징폼,100000
2,립메이크업,3,15,50,립틴트/라커,글로시/젤틴트,1030
3,립메이크업,3,17,54,립글로스,립글로스,100002
4,아이메이크업,4,22,75,아이섀도우,아이팔레트,88268

In [135]:
product_categories ['product_id'].value_counts ()

3754      38
1558      26
22223     23
74532     19
90430     19
          ..
54873      1
112989     1
123371     1
26059      1
99251      1
Name: product_id, Length: 79227, dtype: int64

In [138]:
product_categories [product_categories ['product_id'] == '3754'].sort_values (by = 'idFirstCategory')

,firstCategoryText,idFirstCategory,idSecondCategory,idThirdCategory,secondCategoryText,thirdCategoryText,product_id
2204,스킨케어,1,4,23,크림,아이크림,3754
78835,스킨케어,1,4,23,크림,아이크림,3754
75295,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
72036,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
69040,스킨케어,1,4,23,크림,아이크림,3754
64636,스킨케어,1,4,23,크림,아이크림,3754
53889,스킨케어,1,4,23,크림,아이크림,3754
53868,스킨케어,1,4,23,크림,아이크림,3754
44249,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
42016,스킨케어,1,4,23,크림,아이크림,3754
41819,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
40114,스킨케어,1,4,23,크림,아이크림,3754
31578,스킨케어,1,4,23,크림,아이크림,3754
42005,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
82141,스킨케어,1,4,23,크림,아이크림,3754
15083,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
12970,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
4713,스킨케어,1,3,16,에센스/세럼,브라이트닝에센스,3754
9185,스킨케어,1,4,23,크림,아이크림,3754
25293,스킨케어,1,4,23,크림,아이크림,3754
50304,페이스메이크업,2,7,31,파운데이션,쿠션파운데이션,3754
69650,페이스메이크업,2,7,31,파운데이션,쿠션파운데이션,3754
33669,아이메이크업,4,22,71,아이섀도우,싱글섀도우,3754
17899,아이메이크업,4,22,71,아이섀도우,싱글섀도우,3754
14952,아이메이크업,4,22,71,아이섀도우,싱글섀도우,3754
74143,아이메이크업,4,21,69,아이브로우,리퀴드아이브로우,3754
71558,아이메이크업,4,21,69,아이브로우,리퀴드아이브로우,3754
66733,아이메이크업,4,22,71,아이섀도우,싱글섀도우,3754
6898,아이메이크업,4,21,69,아이브로우,리퀴드아이브로우,3754
3284,마스크/팩,8,37,131,시트마스크,브라이트닝마스크,3754
21964,마스크/팩,8,38,134,페이스마스크,워시오프팩,3754
8749,마스크/팩,8,38,134,페이스마스크,워시오프팩,3754
9933,마스크/팩,8,37,131,시트마스크,브라이트닝마스크,3754
62175,마스크/팩,8,37,131,시트마스크,브라이트닝마스크,3754
52252,배쓰&바디,10,49,155,바디로션/크림,바디버터,3754
80998,배쓰&바디,10,49,155,바디로션/크림,바디버터,3754
3112,배쓰&바디,10,49,155,바디로션/크림,바디버터,3754
68116,배쓰&바디,10,49,153,바디로션/크림,바디로션,3754

In [12]:
product_categories.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88756 entries, 0 to 88755
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   firstCategoryText   88756 non-null  object
 1   idFirstCategory     88756 non-null  int64
 2   idSecondCategory    88756 non-null  int64
 3   idThirdCategory     88756 non-null  int64
 4   secondCategoryText  88756 non-null  object
 5   thirdCategoryText   88704 non-null  object
 6   product_id          88756 non-null  object
dtypes: int64(3), object(4)
memory usage: 4.7+ MB

In [13]:
product_categories.isnull ().sum ()

firstCategoryText      0
idFirstCategory        0
idSecondCategory       0
idThirdCategory        0
secondCategoryText     0
thirdCategoryText     52
product_id             0
dtype: int64

### 전처리

#### products

In [14]:
def delete_dupli_under_review_cnt (df, count = 50):
    df_dupl = df.groupby ('title').filter (lambda x : len (x) > 2)

    # 리뷰수가 50보다 작은 row는 삭제할 것임
    df_dupl = df_dupl [df_dupl ['reviewCnt'] < count]

    return df_dupl ['product_id'].values.tolist ()

In [15]:
# 상품명에서 'title' 이란 잘못된 값이 들어가있어서 해당 row를 빼고 새로운 데이터프레임 생성
products_df = products [products ['title'] != 'title']
products_df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88774 entries, 0 to 89058
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      88774 non-null  object
 1   rank            88774 non-null  object
 2   title           88774 non-null  object
 3   volume          88774 non-null  object
 4   price           88751 non-null  object
 5   reviewCnt       88774 non-null  object
 6   ratingAvg       88774 non-null  object
 7   productImg      88773 non-null  object
 8   isDiscontinue   88774 non-null  object
 9   rankChange      88774 non-null  object
 10  rankChangeType  88774 non-null  object
 11  brand           88774 non-null  object
 12  goodsInfo       88774 non-null  object
dtypes: object(13)
memory usage: 9.5+ MB

In [16]:
products_df.head ()

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo
0,108711,5,코스메티 LED 마스크,1ea,219000,4,3.75,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '아름다운연구소', 'br...",{'goodsCount': 0}
1,118971,6,LED 마스크,1ea,149000,2,4.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '에끌레어 (eclair)...",{'goodsCount': 0}
2,118819,7,디쎄 1.0 LED 마스크 [업무용],1ea,1320000,1,5.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0}
3,90929,8,LED 리얼 마스크,1ea,198000,1,4.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '솔루미에스테 (SOLLU...",{'goodsCount': 0}
4,127206,9,인텐시브 LED 마스크 프리미엄,1ea,1517100,1,5.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '엘리닉 (L Linic)...",{'goodsCount': 0}

In [17]:
import ast

# 딕셔너리처럼 생긴 스트링 타입 brand 컬럼에서 brandTtile을 가져와서 brandName 이라는 컬럼을 생성
products_df ['brandName'] = products_df ['brand'].apply (lambda brand : ast.literal_eval (brand) ['brandTitle'])

In [18]:
# rank 와 reviewCnt 형변환. object to int64
int_cols = ['rank', 'reviewCnt']
float_cols = ['price', 'ratingAvg']

products_df [int_cols] = products_df [int_cols].astype ('int')
products_df [float_cols] = products_df [float_cols].astype ('float')

products_df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88774 entries, 0 to 89058
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      88774 non-null  object
 1   rank            88774 non-null  int64
 2   title           88774 non-null  object
 3   volume          88774 non-null  object
 4   price           88751 non-null  float64
 5   reviewCnt       88774 non-null  int64
 6   ratingAvg       88774 non-null  float64
 7   productImg      88773 non-null  object
 8   isDiscontinue   88774 non-null  object
 9   rankChange      88774 non-null  object
 10  rankChangeType  88774 non-null  object
 11  brand           88774 non-null  object
 12  goodsInfo       88774 non-null  object
 13  brandName       88774 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 10.2+ MB

In [19]:
del_id_list = delete_dupli_under_review_cnt (products_df)

len (del_id_list)

1355

In [20]:
products_refined = products_df [~products_df ['product_id'].isin (del_id_list)]
products_refined.head ()

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
0,108711,5,코스메티 LED 마스크,1ea,219000.0,4,3.75,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '아름다운연구소', 'br...",{'goodsCount': 0},아름다운연구소
1,118971,6,LED 마스크,1ea,149000.0,2,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '에끌레어 (eclair)...",{'goodsCount': 0},에끌레어 (eclair)
2,118819,7,디쎄 1.0 LED 마스크 [업무용],1ea,1320000.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0},닥터슈라클 (Dr.Ceuracle)
3,90929,8,LED 리얼 마스크,1ea,198000.0,1,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '솔루미에스테 (SOLLU...",{'goodsCount': 0},솔루미에스테 (SOLLUME ESTHE)
4,127206,9,인텐시브 LED 마스크 프리미엄,1ea,1517100.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '엘리닉 (L Linic)...",{'goodsCount': 0},엘리닉 (L Linic)

In [21]:
print (len (products_df) - len (del_id_list))
print (len (products_refined))

87419
87419

In [22]:
products_refined.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87419 entries, 0 to 89058
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      87419 non-null  object
 1   rank            87419 non-null  int64
 2   title           87419 non-null  object
 3   volume          87419 non-null  object
 4   price           87396 non-null  float64
 5   reviewCnt       87419 non-null  int64
 6   ratingAvg       87419 non-null  float64
 7   productImg      87418 non-null  object
 8   isDiscontinue   87419 non-null  object
 9   rankChange      87419 non-null  object
 10  rankChangeType  87419 non-null  object
 11  brand           87419 non-null  object
 12  goodsInfo       87419 non-null  object
 13  brandName       87419 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 10.0+ MB

In [23]:
(products_refined ['title'].value_counts () > 2).index

Index(['모이스춰라이징 로션', '화산송이 모공 폼', '블러쉬', '올 어라운드 세이프 블록 에센스 선 [SPF45/PA+++]',
       '메이크업 베이스', '라이스 마스크 워시 오프', '닥터지움 올 클리어 버블 클렌저', '아쿠아파워 클렌저',
       '아메리칸 크림', '히아루론산 토너',
       ...
       '레그 앤 바디 왁스스트립', '글로우 바이 제이로 우먼 오드뚜왈렛', 'S.S 크림',
       '하이드라라이프 유쓰 에센셜 하이드레이팅 클렌징 폼 ', '모이스처 그로잉 세럼', '꽁포르 익스트렘므 쑤엥 드 주르',
       '트루 매트 립 플루이드', '크리미 매트 립칼라', '물광 골든 코쿤 핸드크림 블랙',
       '미네랄 핸드크림 - 칵투스 & 핑크페퍼'],
      dtype='object', length=86056)

In [24]:
products_refined ['title'].value_counts () > 2

모이스춰라이징 로션                            True
화산송이 모공 폼                             True
블러쉬                                   True
올 어라운드 세이프 블록 에센스 선 [SPF45/PA+++]     True
메이크업 베이스                              True
                                     ...
꽁포르 익스트렘므 쑤엥 드 주르                    False
트루 매트 립 플루이드                         False
크리미 매트 립칼라                           False
물광 골든 코쿤 핸드크림 블랙                     False
미네랄 핸드크림 - 칵투스 & 핑크페퍼                False
Name: title, Length: 86056, dtype: bool

In [25]:
df_prod_ref_counts = products_refined ['title'].value_counts().to_frame()

df_prod_ref_counts [df_prod_ref_counts ['title'] > 1]

                                   title
모이스춰라이징 로션                             3
화산송이 모공 폼                              3
블러쉬                                    3
올 어라운드 세이프 블록 에센스 선 [SPF45/PA+++]      3
메이크업 베이스                               3
...                                  ...
휘핑 클렌징 폼                               2
청광 마린 진주 모이스처 트랜스 포밍 클레이 펄             2
센스티브 브러쉬 마스카라                          2
프리미엄 골드 콜라겐 토너                         2
리파이닝 컬러보니 브로우 마스카라                     2

[1358 rows x 1 columns]

In [26]:
duplication_title_list = df_prod_ref_counts [df_prod_ref_counts ['title'] > 1].index.tolist()

In [27]:
df_prod_ref_counts [df_prod_ref_counts ['title'] > 1].sum ()

title    2721
dtype: int64

1358

In [29]:
print (duplication_title_list)

['모이스춰라이징 로션', '화산송이 모공 폼', '블러쉬', '올 어라운드 세이프 블록 에센스 선 [SPF45/PA+++]', '메이크업 베이스', '라이스 마스크 워시 오프', '닥터지움 올 클리어 버블 클렌저', '아쿠아파워 클렌저', '아메리칸 크림', '히아루론산 토너', '내추럴 허니 마스크 시트', '티트리 클렌징 젤', '앰플 드 오로라', '샤워젤', '아트 콜라겐 젤리 하이드로겔 마스크', '프리미엄 블랙헤드 O2 버블 모공팩', '프라임 프라이머 피니쉬 팩트', '컨투어링 브러쉬', '크리미 파운데이션 N [SPF28/PA++]', '오이 클렌징 티슈', '수딩 클렌징 오일', '젤라이크 립', '렛 더 굿 타임즈 롤', '모이스트 업 수퍼 히아루론 크림', '라즈베리 헤어 식초', '수딩젤 로션', '선셋 프루츠 퍼퓸 바디워시', '무빙러버 에어 라이즈', '마일드 폼 클렌저', '퍼펙트 워터리 오일', '에스테틱 골드 매니큐어', '화이트닝 톤업 크림', '프레쉬 파머시', '비자 트러블 스팟 에센스', '스위트 아몬드 오일', '딥 모이스트 로션', '에너자이징 샴푸', '베이비 바디로션', '울트라슬림 중형', '금설 기윤 에센스', '플로리아 화이트닝 꽃잎 토너', '모이스처라이징 바디 워시', '맘앤트윈스 클렌저', '오프레시 딥 허벌 스캘프 앤 헤어팩', '핑크 그레이프후룻 바디 버터', '로즈 앱솔루트 아이 크림', '허브 미스트', '블랙슈가 마스크 워시 오프', '휴대용 미니고데기', '더마클리어 마이크로 워터', '아이펜슬', '4GF 아이래쉬 앰플', '어반 에코 하라케케 프레쉬 토너', '망고 오 드 뚜왈렛', '스킨로션', '드림 베이스', '콜라겐 리프트업 밴드', '실크 블로썸 코롱', '쥬얼라이트 동안 애교살 메이커', '워셔블 클렌징 밀크', '올인원 텐 섹', '16 티앤쥐', '갈락토미세스 아이크림', '스칼프 리밸런싱 트리트먼트', '바디 스크럽', '톡톡 페이셜 선팩트 [SPF43/PA+++]', '오토 아이브로우', '모이스처라이징 에멀젼', '슬라이스 마스크 시트(토마토)', '퓨어 클렌저', '원더드로잉 아이브로우 키트', '딥 클렌징오일', '페이스 파우더 브러쉬', '슈슈 선크림 민트 [SPF48/PA+++]', '아쿠아 수분 크림', '아이래쉬 컬러(뷰러)', '포멜로 파라디', '퓨리파잉 클렌징 오일', '올리브 리얼 스킨', '밸런싱 클렌저', '리지스트 슈퍼-라이트 선스크린 [SPF30]', '이드라 베베 페이셜 크림', '허니 모이스트 크림', '프리미엄 피치 뽀송 토너', '유기농 순면커버 생리대 대형', '타투 아이브로우', '스팟 컨실러', '클리어 로션', '화이트닝 마스크 팩', '자윤비책 지성 샴푸', '모이스처 리페어 샴푸', '퍼펙트 리뉴 에멀젼', '크림', '안티 덴드러프 샴푸', '세라마이딘 크림', '맨올로지 101 에센셜 모이스춰라이저', '프리미엄 폼클렌징', '프리미엄 피치 뽀송 에멀전', '퓨리파잉 클렌저', '베이비 모이스처라이저', '노니비누', '리프팅 마스크', '4D 마스카라', '웨지 스폰지', '두피 딥클렌징 샴푸', '올리브 & 그린티 바디 버터', '플라워 셀 크림', '드라이 스킨 크림', '아이슬란드 수분 에센스', '세라마이드 수분크림', '샴푸앤바스', '실크 브라운', 'EGF 리페어 앰플', '가부키 브러시', '립 페인트', '뷰티 너리싱 바디워시', '퓨어 컬러 블러셔', '올인원 로션', '버터볼', '골드 캐비어 크림', '퓨어 브라이트닝 에센스', '모이스춰 앤 너리싱 페이스 크림', '에코 소울 에센스 쿠션 모이스처 래스팅 [SPF50+/PA++++]', '네일 라커 ', '아이 컬러 브러쉬', '워터프루프 펜슬 젤라이너', '에스에너지 올데이 모이스트 에멀젼', '마유 클래식 100', '모이스춰 에센스', '닥터지움 올 클리어 앰플', '울트라 훼이셜 크림', '어성초 발효 세럼', '루트리션 크림', '스킨토너', '파우더 아이브로우', '브러쉬 세트', '퍼퓸드 핸드크림 - 체리블라썸', '딥 클린 클렌징 오일', '마유 마스크팩', '프레스트 파우더', '파우더 파운데이션 브러쉬', '에이지 컨트롤 스킨 소프너', '커피 바디 스크럽 클렌저 라벤더', '코튼 블러셔', '맨올로지 101 프리 토너', '리제너레이팅 크림', 'HD 블러쉬', '피부톤을 올려주는 하얀꽃 크림', '자정미백크림', '에센스 미스트', '갈락토미 클리어스킨 토너', '폴리젠 스칼프 바이탈 앰플', '화이트 머스크 퍼퓸 바디워시', 'AC 컨트롤 로션', '수분가득 콜라겐 미스트', '모이스트 업 히아루론 앰플 토너', '루즈 언리미티드 슈프림 마뜨', '모이스춰 로션', '바디밀크', '라이트 로션', '울트라블랜드', '유자 클렌징크림', '멀티 글리터', '퍼퓸네일', '플로리아 화이트닝 크림', '손 소독제', '헬씨 믹스 컨실러', '세보샴푸', '오프레시 딥 허벌 샴푸', '벨벳 데미지 리페어 트리트먼트', '모이스춰라이징 립 밤', '글로우 미스트', '티트리 카밍 젤 크림', '화이트 선 스크린 [SPF35]', '꿀광 로얄 프로폴리스 앰플 세럼 블랙', '난코 매스틱 퓨리파잉 토너', '내추럴 홍삼 마스크 시트', '슈가볼 벨벳 블러셔', '립 리페어', '콜라겐 드림 70 아이크림', '틴트 워터', '올웨이즈 뉴 오토 라이너', '인텐시브 리페어 샴푸', '올인원 톤업', '잇 스타일 헤어 스프레이', '마일드 버블 클렌저', '더마뉴얼 선블록 [SPF50+/PA+++]', '에어 인 퍼프 [블루]', '유주 앤 코코아 버블룬', '메이크업 리무버', '탑 젤', '좀비팩 & 페이스리프팅 엑티베이터 키트', '더마뉴얼 크림', '헤어 매치 브로우 카라', '모이스처 리치 샴푸', '레드 이레이징 크림', '매직 플래시 크림 [SPF25/PA++]', '바바수 액티브 퍼밍 에멀전', '젤리바', '글로시 립스틱', '더마톨로지 세럼', '프레셔스 라이트 리쥬버네이팅 일루미네이터', '우먼 오드뚜왈렛', '슬림 젤 아이라이너', '진 에센스', '크렘프레쉬 세럼', '포레스트 포맨 오일 컨트롤 올인원 에센스', '아쿠아 필 토너', '크림 아이섀도우', '비비드 틴트 루즈', '에코 어스 파워 라이트 선 크림 [SPF50+/PA+++]', '알페 디 36 앰플', '캡처 히아루로닉 앰플', '마이 갈바닉', '앵글드 아이라이너 브러쉬', '립 라커', '뷰티 메탈 쿠션 파운데이션 [SPF50+/PA+++]', '올리브 리얼 모이스처 핸드크림', '화장솜', '플랫 파운데이션 브러쉬', '실키 화장솜', '망고화이트 바디 워시', '로즈', '모링가 바디 스크럽', '내추럴 컨디션 클렌징 로션', '클리어 스팟 패치', '오가니언스 세럼', '777 아이섀도우', '에이피이 프로아틴 마스크', '포맨 스킨', '티트리 토너', '블랜딩 브러쉬', '글로우 립스틱', '핸드 앤 네일 트리트먼트 크림', '제모 크림', '아크네 컨트롤 클렌징폼', '실크 헤어 리페어 컬 세럼', '내추럴 블루베리 마스크 시트', '유채꿀 핸드 버터', '펜슬 컨실러', '야생녹차 이슬 에센스', '수정화장 패드', '발샴푸', '워터글로우 인젝션 마스크', '순백 크림', '수분가득 콜라겐 에센스', '코튼 퍼프', '모이스춰라이징 크림', '어성초 크림', '젤 클렌저', '글로우 틴트 스틱', '순면화장솜', '팬티라이너 롱', '화이트닝 선블럭', '모링가 리페어링 샴푸', '쉐이빙 크림', '프로페셔널 파운데이션 브러쉬', '케이스 케론 퍼프', '글로리 P10', '비즈 퓨어 스킨', '립스틱 매트', '딥클렌징 샴푸', '진설크림', '블랙베리', '어반 쉐이드 안티폴루션 선 [SPF50+/PA++++]', '하드와이어드 아이섀도우', '프렌치부케 트리트먼트', '모닝 밀크 버블 폼', '풀커버 크림 컨실러', '부스터 세럼', '울트라 화이트닝 크림', '마린 스파 바이탈 마스크 컨트롤 수딩', '패션 오 드 퍼퓸', '아이브로우 틴트', '그린티 카밍 클렌징 젤', '모공제로 나이트크림', '마일드 필링젤', 'UV 디펜스 선스틱 [SPF50+/PA++++]', '딥 포어 클렌징 오일', '울트라 파워프루프 펜슬 라이너', '마유 샴푸', '디어 마이 에나멜 립스 톡', '아쿠아 수딩 젤 크림', '속 앤 플롯', '로즈 페이스 미스트', '더마클리어 마이크로 밀크 필', '고쿠쥰 로션', '올리브 리얼 오일 미스트', '아토 로션', '에센셜 마스크', '솔트 클렌저', '엑스트라 젠틀 컨디셔너', '녹차 천연비누', '아이래쉬 뷰러', '바쓰 & 샴푸', '오가닉 시어버터', '딥클린 하이드레이팅 포밍 클렌저', '키즈에코 로션', '스프링 머리끈', '화산재 모공팩', '모이스트 토너', '올 어라운드 세이프 블록 마일드 선 [SPF30/PA++]', '러블리 클렌징 워터 카밍', '파워 앰플 포어 타이트닝', '맨 오 드 뚜왈렛', '발효 화이트닝 크림', '스파츌라', '녹터널 레스큐 마스크', '크리미 벨벳 립스틱', '밀키 틴트', '마일드 선밀크 [SPF50+/PA+++]', '루스 세팅 파우더', '홍결고 크림', '에이지 컨트롤 에멀젼', '썬더볼 틴트 라커', '컨디셔닝 디탱글러', '그린티 씨드 스킨', '포어미니쉬 블랙헤드 리무버 오일 젤', '로즈워터 페이셜 스프레이', '해조로션', '너리싱 마스크', '니어스킨 셀프 컨트롤 퓨리파잉 마사지', '플랫 아이라이너 브러쉬', '화이트 프로그램 이펙터', '미니 메이크업 브러시 세트', '블루', '가부키 브러쉬', '금설 수면 크림', '보태니컬 엑스폴리에이팅 스크럽', '에이프릴 코튼 퍼퓸 새니타이저', '시카플러스 리페어 크림', '날개형 소형', '아이브로우 파우더', '239 아이섀도우', '리퀴드 립 벨벳', '아티스트 립 블러쉬', '페이스믹스 기름종이 파우더', '옴므 올인원 포뮬러', '스마일 풋 마스크', '롸잇나우! 브라이트닝 크림', '3D 컨투어링 듀얼 스틱', '포어 컨트롤 파우더 토너', '네일 탑코트', '디자이닝 아이브로우', '루이샤인 로미오 브라운', '백위트 루스 파우더', '오가니언스 워터', '스칼프 앤 헤어 팩', '허니 트랩', '디퓨저 블랙체리', '페이스 클렌저', '포어 스무딩 프라이머', '러블리 크림 카밍', '아이스타일러', '티트리 페미닌 폼워시', '루시퍼 그레이', '퍼스트 트리트먼트 에센스', '컬링 마스카라', '오토 아이라이너 펜슬', '파프리카비누', '로즈마리 스칼프 스케일링 샴푸', '힐링 트리트먼트', '플래시 화이트닝 크림 [SPF30/PA++]', '시카 판테놀 크림 미스트', '베이비페이스 인젝션 마스크', '그린티 클렌징 오일', '블랑쉬클렌저', '유황 비누', '익스트림 파워 페이셜 클렌저', '족욕소금', '모디 글램 네일즈', '옴므 EDT', '베이크드 아이섀도우 트리오', '탄력크림', '포스트 케어 쿨링 시트 마스크', '스프링 플라워', '퍼펙트 핏팅 파운데이션', '트러블 패치', '콜라겐 드림 70 에센스', '올데이 선크림 [SPF50+/PA++++]', '샤워젤 바닐라', '숯 비누', '붓펜 아이라이너', '원더아이 애교살 세럼', '클린솝 픽미업 코롱향수', '비피다락토 크림', '예리코 로즈 에버래스팅 세럼 파운데이션 [SPF35/PA++]', '에이리페어 라이트 크림', '로즈 오 드 뚜왈렛', '하이드레이팅 아이 크림', '핸드크림 [로즈]', '페이셜 커피 스크럽 클렌저 라벤더', '모이스쳐 크림', '블랑 엑스퍼트 쿠션 컴팩트 하이 커버리지 [SPF50+/PA+++]', '인텐시브 아이크림', '미셀라 클렌징 워터', '갈락토미세스 파워 앰플', '세럼 프라이머', '퍼펙트 선크림 [SPF50+/PA+++]', '여드름 압출기', '루테인', '벨벳 립 라커', '티슈 화장솜', '아르간 에센셜 수분 헤어 미스트', '포에버 링클리스 베리 매직 리프팅 토너', '오이 비누', '쉬어 컬러 치크 틴트', '플로랄 하이드로 에멀젼', '밀착 커버 파운데이션 [SPF30/PA++]', '안티 트러블 버블 클렌저', '이지 드로잉 오토 아이브로우', '시카 크림', '섀도우 스틸러', '리얼 프로폴리스 앰플', '허니 립 스크럽', '그린티 로션 포맨', '블랑쉬로션', '동공미인 브로우 메이커', '틴트립밤', '아임 에이헬퍼 토너', '아이 디파이너 브러쉬', '실크 헤어 스타일 스프레이', '아이섀도 브러시', '밀크 영롱 섀도우', '그린티 모닝 클렌저', '더 페이스 워시', '쉬머 아이섀도우', '라벤더 클렌징 폼', '리얼 클린 필링젤', '비타민 C 앰플', 'EGF 앰플', '언센티드 위치하젤 토너', '홈살롱 헤어팩', '포 시즌 부스팅 토너', '라벤더 릴렉싱 핸드크림', '속눈썹 접착제', '미네랄 아이 섀도우', '톤 업 베이스 [SPF30/PA++]', 'EGF 리페어 크림', '아임 에이헬퍼 에센스', '안티옥시던트 인젝션 마스크', '리프레싱 젤', '웨지 퍼프', '힐링 티 가든 티트리 클렌징 폼', '클렌징워터', '오 드 무슈 오 드 뚜왈렛', '임페리얼 버드네스트 마스크팩', '리바이탈 크림', '갈락토미세스 앰플', '티트리 카밍 토탈 에센스', '퍼펙트 커버링 컨실러', '블레미쉬 수딩 오버나이트 마스크', '엔도젠 케이', '알로에 발효 클렌징 폼', '페이스크림', '망고 비누', '어반 에코 하라케케 에센스', '인텐시브 리페어 화이트닝 크림', '드라이 헤어 컨디셔너', '두피 마사지 샴푸 브러시', '유기농 순면커버 생리대 오버나이트', '큐티클 오일', '립스틱', '접이식 꼬리빗', '베이킹 파우더 모공 클렌징 크림', '달팽이 마스크 팩', '컨센트레이트 크림', '로즈페탈 위치하젤 토너', '진주 모델링 마스크', '너리싱 샴푸', '알부틴 비누', '코코넛 페이스 마스크', '너리싱 크림', '티트리 카밍 토탈 미스트', '궁중비누', '익스트림 화이트 필링', '베이비 비누', '바이타민 에이 올스킨 에센스', '네버 드라이 올인원', '베일 미네랄 프라이머', '블랙헤드 클리어 워시', '초음파필링기 L6', '올리브 브랜치', '디자이어 오드퍼퓸', '히아루론산 크림', '앨리게이터 크림', '프레쉬 모이스춰 바디워시', '녹차스킨', '우먼 오드퍼퓸', '7DAYS 타투 아이브로우', '진설유액', '에나멜 코팅 틴트', '로즈힙 퍼퓸 헤어 오일', '울트라 서핑 선크림 [SPF50+/PA++++]', '울트라 파워프루프 리퀴드 라이너', '롤온 퍼퓸오일 [롬브르 단 로]', '노니 퍼펙트 디자인 에센스', '아이브로우 키트', '루트리션 세럼', '파워 브라이트닝 디데이 마스크', '스네일 솔루션 하이드로 겔 마스크', '율피비누', '산뜻 토너', '유기농 꽃 발효 로션 오리지널', '예리코 로즈 쉬어 세럼 베이스', '아이슬란드 수분 에멀젼', '너리싱 클렌징 밤', '알로에 클렌징 티슈', '퍼펙트 에센스 쿠션 퍼프', '로즈 페이스 마스크', '달맞이꽃 수분밤', '비티엑스 플래튼좀', '매직 스타터 [SPF25/PA++]', '컨트롤 페이스트 왁스', '에이리페어 미스트', '티트리 스킨 클리어링 토너', '리얼핏 립스틱', 'AC 컨트롤 레서피 모이스춰 로션', '아르간 트리트먼트 헤어팩', '블렌딩 퍼프', '바스&샴푸', '알로에 수딩 마스크 시트', '립스틱 노웨어 리치', '셀룰러 아이크림', '에코 소울 트루 모이스트 팩트', '마카롱 팩 리프팅 시스템', '진주 비누', '마일드 샴푸', '클렌저', '풀커버 리퀴드 컨실러', '페이셜 커피 스크럽 클렌저 오리진', '핸섬 브로우', '필라그린 로션', '아쿠아 수딩 토너', '플로리아 화이트닝 에멀전', '라벤더 바디 크림', '미네랄 퍼펙트 컨실러', '히알루론산 세럼', '베가니스', '퍼펙트 아이래쉬 컬러', '난코 매스틱 밸런싱 모이스처라이저', '그리스 라이트닝', '파워 앰플 화이트닝', '헤어 스프레이', '스킨 릴렉싱 시트 마스크', '퍼퓸씨드 리치 크림샤워', '밸런싱 로션', '카렌듈라 엔자임 필링젤', '프레스드 파우더', '드롭스 오브 유스 유스 프레쉬 에멀젼 [SPF20/PA+++]', '퍼펙트 필링 고마쥬 젤', '콜라겐 퍼밍 마스크', '모이스춰 크림', '파우더 브러쉬', '멀티 비타민 앰플', '루팡 그레이', '아이래쉬 컬러', '시카크림', '(톤업 컬렉션) 매직프레스 슈퍼 슬림핏', '황토 비누', '302c 아이섀도우', '콤플렉스 5', '립 틴트', '흑진주 마스크팩', '스칼프 너리싱 샴푸', '퍼펙트 유브이 프로텍션 크림 롱래스팅 [SPF50+/PA+++]', 'USB 충전식 열 헤어롤', '힛팬 아이 팔레트', '딥 클린 폼 클렌저', '파우더 파운데이션', '시크릿뷰티 화이트언더암', '화이트 티 마스크', '리트랙터블 페이스 브러쉬', '립 서비스', '엑스트라 일루미네이팅 모이스춰 밤', 'pH5 로션', '팡팡 쿠션 [SPF50/PA+++]', '수분 아이 크림', '옴므 하이드로 리버스 올인원 에센스', '로즈 벨벳 립스틱', '앙상 진해', '래쉬 슬릭', '데일리 선블록 [SPF50+/PA+++]', '블러 스틱', '베이크드 블러셔', '글로우 립틴트', '더 세럼', 'NGF37 토탈 솔루션 시너지 크림', '티트리 매티파잉 로션', '타임 레볼루션 아쿠아 유스 크림', '수딩 미스트', '물방울퍼프', '화이트닝 마스크', '베이비 크리미 로션', '베이비 다이애퍼 크림', '내추럴 티트리 마스크 시트', '볼륨 파우더 픽서', '수딩 스킨', '진설에센스', '펩타이드 볼륨 에센스', '도로시', '리-뉴트리브 울트라 래디언스 리프팅 크림 메이크업 [SFP15/PA++]', '스네일 트리트먼트 마스크', '자스민 핸드 크림', '수분 쿠션 하이라이터', '레드 크림', '팬티라이너 일반', '아이 트리트먼트 크림', '맨 클렌징 폼', '히아루로닉 듀얼 마스크', '베이비 바스', '아토크림', '감자 에센스 마스크', '펩타이드 볼륨 버블 마스크', '시트러스 버베나 프레쉬 밀크', '소프트 벨벳 루스 파우더', '아이섀도', '더마케어 세라마이드 모이스처 거즈마스크', '아이브로우 리치크림', '콜라겐 앰플', '듀얼 모이스트 토닝 로션', '장미 클렌징 티슈', '모링가 바디버터', '베이비 바스 & 샴푸', '진 크림', '더 퍼스트 제너츄어 에센스', '블루베리 리밸런싱 5.5 클렌저', '술타나', '퓨어 클렌징 폼', '퓨어 화이트 훼이셜 폼', '히아루론산 워터 미스트', '네일 스타일러', '쉬어 립스틱', '리바이탈 스킨', '진설아이크림', '골드 콜라겐 아이패치', '필라그린 크림', '히아루로닉 에멀젼', '슬라이스 마스크 시트(딸기)', '롱래스팅 커버쿠션 [SPF50/PA+++]', '샤인 립글로스', '클린페이스 마일드 로션', '앙털없쩡 제모크림', '미니고데기', '클렌징 무스 위드 모이스처라이징 앤 수딩 알로에 베라', '블러쉬 브러시', '닥터트러벡스 탄산수 로션', '프로 테일러 파운데이션 비 실크 [SPF34/PA++]', '셀 에센스', '배리어 크림', '아이섀도우', '아이돌래쉬 베이직', '퓨리파잉 머드 마스크', '스네일 화이트닝 크림', '립 글로우 오일', '폼 클렌저', '트리트먼트 립 세럼', '스위치 온 틴트', '다이애퍼 크림', '홀리데이 브라운', '라벤더 핸드 크림', '화이트터치 플러스 [SPF35/PA+++]', '에이리페어 크림', '한가람 샴푸&바디클렌저', '스노우 화이트 크림', '아일랜드 브라운', '아임 틱톡 틴트 립 벨벳', '타투 립 틴트', '로즈 향수', '딥 모이스처라이징 크림', '페이스 로션', '화이트닝 에멀젼', '글로우 스틱', '팩 마스크', '아틀라스 마운틴 로즈 바디 버터', '방 비탈', '올리브 바디 스크럽', '탑투토 워시', '스무딩 바디 폴리쉬', '컴팩트 파운데이션', 'AC 컨트롤 레서피 클리어링 토너', '포인티드 파운데이션 브러쉬', '스킨티슈 화장솜', '밀크 화이트닝 세럼', '와이드 파운데이션 브러쉬', '아이 블렌딩 브러쉬', '센슈얼 틴트', '프레스드 아이섀도우', '블러쉬 팔레트', '스킨 프레쉬너', '포어 딥 클리어링 폼', '포맨 로션', '블라썸 블러셔', '자몽 에센스 쿨링 바디워시', '바나나맛 우유 모이스춰라이징 바디워시', '마일드 선크림 [SPF25/PA++]', '우유우유크림', '젤클렌저', '데일리 크림', '오가니언스 에멀젼', '크림 블러쉬', '꾸뛰르 하이라이터', '수분빛 광채 크림', '스트레치 컨실러', '에스투드 프로텍터 3.2', '페퍼민트 리프레시 토너', '하이드라 B5 세럼', '트리오 아이섀도우', '결빛 각질 마스크', '듀얼 아이섀도우', '솝워트 버블 퓨리파잉 페이셜 폼', '세럼', '디퓨저 - 블랙체리', '자연발효 에너지 넥크림', '퀵 헤어쿠션', '퓨어 페미닌 클렌저 알로에 & 콜라겐', '볼륨앤컬 마스카라', '스네일 크림', '버베나 오 드 뚜왈렛', '미네랄 미스트', '에센스 토너', '프로 인텐스 클렌징 오일', '하또무기 스킨 컨디셔너', '프리미엄 골드 콜라겐 에멀전', '립오일', '틴티드 립 밤', '기부 마스크 세이브', '멀티 펩타이드 토너', '리프레싱 클래리파잉 토너', '시크릿 커버 쿠션 [SPF50+/PA+++]', '유자 필링 젤', '익스트림 크림', '피토 아쿠아 나이트 마스크', '라이스 폼클렌징', '참숯 모델링 마스크', '크레용 틴트', '알로에 마스크 시트', '딥 모이스처 립밤', '오션 핸드크림', '퓨리파잉 클렌징 폼', '울트라 리페어 크림', '올 클리어 오일', '페이셜 스크럽', '엑스트라 밤 린스', '터치 온 바디 코코넛 바디 로션', '센서티브 선크림 [SPF50+/PA+++]', '매트 탑 코트', '브라운 슈가 페이셜 스크럽', '울트라슬림 대형', '브리즈 샴푸', '비타 서플라이 앰플', '스키니', '앞머리 헤어롤', '피쉬콜라겐', '달팽이 힐링 크림', '크림 치크', '콜라겐 드림 90 스킨 부스터', '임모르텔 리바이탈&레디언스 세럼', '미니 속눈썹 고데기', '로즈 바디 크림', '빠뤼르 골드 래디언스 파운데이션 [SPF30/PA+++]', '엣지 브라운', '센텔라 90 앰플', '내추럴 오토 아이브로우', '이지 아이라이너', '퓨어 밀크 핸드 크림', '오 마이 래쉬 마스카라', '립픽서', '포밍 워시', '아트 퀵 브라이트닝 하이드로겔 마스크', '루트리션 모이스처라이저', '블랙헤드 클리어', '수분가득 콜라겐 아이크림', '안티더스트 클렌징 폼', '촉촉 레서피 수딩 토너', '메가 컬링 마스카라', '앱솔루트 슈프림 선블럭 [SPF50+/PA+++]', '1/2 스펀지 화장솜', '힐링 티 가든 화이트티 클렌징 폼', '퓨어 딥 클렌징 오일', '순면탐폰 [레귤러]', '어스마린 워터 젤 마사지 크림', '투 키세스 듀얼 틴트', '스팟패치', '히아루로닉 크림', '아리아', '안티옥시던트 워터밤', '콜 펜슬', '꽁지머리 헤어팩', '하이드라 인텐시브 크림', '브라이트닝 클렌징 오일', '한란 핸드 크림 [SPF15/PA+]', '더마톨로지 부스터', '올리브 & 허니 바디 버터', '스피루리나', '엑셀랑스 쿼드 아이섀도우', '브로우 파우더 듀오', '제주 탄산수 딥 클렌징 오일', '테디 브라운', '젬 미라클 블랙 펄 오투 버블 마스크', '애프터 스포츠 선 클렌징 티슈', 'UV 미스트 쿠션 롱스테이 매트', '립 플럼퍼', '데이크림', '스키니 브로우카라', '마이크로 홀딩 왁스', '골드 리프팅 크림', '립밤 [SPF15]', '씨솔트 퍼펙트 클렌저', '아이 컨센트레이트', '새틴 립스틱', '우먼 오 드 퍼퓸', '비베리클리어 필링 젤', '자연발효 에너지 에센스', '모이스트 플로랄 밤', '풋샴푸', '세라마이딘 핸드크림', '참숯 코팩', '에이지 쉴드 리커버리 세럼', '극진 에센스', '파운데이션 브러시', '컬러 필터 섀도우 팔레트', '로즈워터', '이너 클렌저', '입는 오버나이트', '안티 헤어로스 샴푸', '밸런싱 페이셜 세럼', '포밍클렌져', '페이스 패브릭 파운데이션', '모이스처라이징 스킨', '이레이저', '제주 용암해수 에센스', '베이비 선 쿠션 [SPF32/PA++]', '이지 아이브로우', '히아루콜라겐 에센스', '스텔라토피아 에몰리언트 크림', '워터프루프 아이라이너', '올리브 핸드 크림', '클렌징 리퀴드', '가르시니아', '마이크로 폼 쿠션 [SPF50+/PA+++]', '히아루로닉 세럼', '울트라 파워프루프 마스카라 [컬 업 볼륨]', '스틱 컨실러', '어성초 발효 필링 패드', '오일 프리 모이스처라이저', '립 샤인', '오가닉 화장솜', '주스 클렌즈 마스크 스피아민트 & 그린애플', '108 블러셔', '미스터리 투명비누', '립 컬러', '립밤', '베이비 모이스처 로션', '벨벳 립스틱', '울트라 모이스처 마스크', '시크릿 미스트', '퍼펙트 카밍 수딩 마스크팩', '아이 컨투어 크림', '펩타이드 크림', '에프터 쉐이브 밤', '닭살비누', '슈가볼 쿠션 블러셔', '자음유액', '알로에 수딩 나이트 크림', '화이트 벨벳 무스', '스윗 송 블랙 티 원-스텝 클렌징 워터', '모이스쳐 앰플', '에브리데이 선크림 [SPF50+/PA+++]', '리파이닝 토너', '로얄젤리 에센스 마스크', '모이스처 립스틱', '압솔뤼 루즈', '매트 아이 컬러', '폼클렌징', 'LPP 트리트먼트', '안티세범 인텐시브 케어 겔', '내추럴 선 에코 베이비 마일드 선 쿠션 [SPF28/PA++]', '립 크림', '트위져', '골든볼 힐러', '달팽이 에센스 마스크 시트', '트리트먼트 립밤', '모이스처 세라마이드 에멀젼', '망고화이트 바디 크림', '아르간 트리트먼트 오일', '퍼퓸 핸드크림 NO.49 피치블러썸', '빅3스텝 앰플 마스크 팩', '아이 글로스', '히아루콜라겐 모이스쳐 토너', '오늘습관 유기농순면생리대', '날개형 대형', '아이브로우 팩트', '컵케익', 'SD 아이 컨센트레이트 포 링클스', '컴포트 하이드레이팅 워터', '싱글 스타일러', '루즈 언리미티드 라커샤인', '딸기맛 우유 바이탈라이징 바디워시', '글로스 젤네일 스트립', '화이트머스크', '1/2 화장솜', '오가니언스 크림', '데미지 케어 샴푸', '클렌징 미셀라 워터', '레드 프로폴리스 앰플', '히알루론산 토너', '아보카도 크림', '크리미 돔 블러셔', '멀티 5겹 화장솜', '블랙캐비어 크림', '이지 드로잉 아이브로우 펜슬', '제모패드', '스칼프 케어 샴푸', '내추럴 컨디션 클렌징 오일 [마일드]', '슬리머 앰플', '페이퍼라이트 크림 아이 컬러', '수딩 클렌징 밀크', '포어 블러 팩트', '멀티 비타민', '베이비 에센스', '씨 크림', '콤팩트 파우더', '흑운 모근영양 샴푸', '포레스트 포맨 프레시 로션', '듀오 블러셔', '리페어링 헤어 마스크', '아하 5% 크림', '엑셀랑스 글로우 블러쉬', '에이지 컨트롤 파워 아이크림', '청순거짓 브라우 젤 틴트', '내추럴 선블럭 [SPF29/PA++]', '뷰티툴 펜슬깎이', '내추럴 컨디션 클렌징 폼 [피지 개선]', '더 클린 랩 AC 듀 폼', '페이셜 클렌징 티슈', '내추럴 컨디션 클렌징 오일 [모이스처]', '콜라겐 에센스 마스크', '아쿠아 세럼', 'SOS 스팟 세럼', '부분속눈썹컬러', '모공미인코팩', '파우더 브러시', '핑크 클레이 마스크', '라지 아이섀도우 브러쉬', '노니 프레쉬 밸런스 스킨토너', '선 크림 [SPF50+/PA++++]', '메디스파 스팟 컨트롤', '퍼펙트 베이스업 에센스', '티트리 바', '피브완 플로라 뷰티 밀크', '립 컨디셔너', '세라마이드 로션', '치크 컬러', '아토 브라운', '살구막대 글로스', 'UV 에센스 베일 [SPF50+/PA+++]', '컬 디파이닝 크림', '베이비 기저귀 크림', '두 투더 부 크림', '금설 극 진액', '올리브 리얼 클렌징 폼', '매직프레스 프리미엄', '싱크로 스킨 글로우 쿠션 컴팩트 [SPF23/PA++]', '미네랄 수분 피팅 베이스', '마스카라 브러쉬', '딸기맛 우유 바이탈라이징 바디로션', '시어 바디 버터', '모이스트 크림', '리퀴드 피그먼트', '마이 워터드롭 젤리 에센스', '비오틴 5000', '자정수', '오리엔탈 허브 샴푸', '글리터 펄 파우더', '녹차로션', '리퀴드 아이 라이너', '리퀴드 컨실러', '올인원 겔', '매직프레스', '민트 리프레싱 샴푸', '폼 클렌징', '청포도 프레시 베이스', '머드 딥 클렌저', '달팽이 마스크 시트', '리얼 화이트닝 이펙트 프리미엄', '베이스 젤', '리제너레이션 큐원 앰플 세럼', '수퍼 아쿠아 셀 리뉴 스네일 크림', '캐비아 더블 이펙트 마스크 시트', '스킨 케어 로션', '치크 브러시', '쿨링 풋 미스트', '금설 진 크림', '베이비 크림 ', '날개형 중형', '맨 로션', '콜라겐 모델링 마스크', '안티에이징 아이크림', '라벤더 하이드레이팅 미스트', '내추럴 케익 아이브로우 키트', '스키니 파워프루프 마스카라 [롱래쉬]', 'UV 미스트 쿠션 커버 [SPF50+/PA+++]', '로즈 핸드 크림', '핸섬 커버 스틱', '모로코 아르간 오일', '핸드 트리트먼트', '오 떼르말', '블랙아웃 미백크림', '실크샤인', '백금 모공수축팩', '봄므 아 레브르', '내추럴 컨디션 소르베 클렌져', '피지제거기', '헤어 포마드', '로열허니 착한 에멀전', '셀프 네일 스티커 - 스텐실', '무스 꽁포르', '눈꽃 휘핑 클렌저', '마일드 선 쿠션 [SPF45/PA+++]', '모이스처 클렌징 워터', '베리어 크림', '우먼 EDT', '플로랄 하이드로 미스트', '르 베르니', '실크 이펙트 헤어 에센스', '그란떼 클렌징 오일', '스네일 하이드로겔 마스크', '소스큐어 피에이치 마일드 폼 클렌저', '트루 매트 립스틱', '마린 매직 클렌징 워터 오리지널 포뮬라', '내추럴 틴티드 선크림 [SPF30/PA++]', '골드 스네일 아이 겔 패치 세트', '딥 클렌징 마스크', '슬라이스 마스크 시트(레몬)', '살구씨 딥 클렌징 오일', '실크 인텐스 립스틱', '하우스 라텍스 퍼프', '퍼멘테이션 펩타인 아이 케어 크림', '알로에비누', '골드 하이드로겔 아이패치', '멀티-이펙티브 리프팅 팩', '앰플쿠션 [SPF50+/PA+++]', '패디큐어 글리팝', '올인원 클렌징 폼', '솔잎비누', '야미 마미', '순하고 산뜻한 올리브 모이스처 바디워시', '에코 소울 에센스 쿠션 올 커버 [SPF50+/PA++++]', '퍼펙트 마스카라', '미스티 로맨틱초코', '파워 앰플 하이드라', '717 아이섀도우 / 아이라이너', '페이스 팩터 선스크린 [SPF50]', 'E.H.P 클렌징 오일', '모로코 가슬 폼 클렌저', '엑스퍼트 하이드레이팅 마스크', '비타 서플라이 샴푸', '뉴트리션 크림', '자음생크림', '풋 필링젤', '데미지 리페어 헤어 마스크', '딥클린 클렌징 크림', '티트리 피부진정 숯 클렌징 폼', '오미드나잇 퍼퓸 바디워시', '하이퍼 오퓰런트 글로', '수분 쿠션 블러쉬', '슬라이스 마스크 시트(오이)', '알티지 오메가3', '에센스 스킨 파운데이션 팩트', '네일', '쥬시 래스팅 틴트', '하이드레이션 크림', '닦고자 클렌징 티슈', '보테니컬 그린티 포어 프라이머', '진설수', '피치 톤 커버 스틱 [SPF50+/PA++++]', '커피 바디 스크럽 클렌저 오리진', '눈사람 퍼프', '컨투어 듀오 쉐딩', '샘물 기름종이 쿠션', '간에 좋은 밀크씨슬 골드', '해조스킨', '엑스퍼트 컬러 립 큐브 [SPF10]', '어반 에코 하라케케 토너', '립 앤 치크 스테인', '립 베이스', '듀얼 파우더 파운데이션', '포밍 핸드 워시', '수분크림', '드로잉 아이브로우', '5겹 코튼 화장솜', '풋 필링 크림', '로즈워터 토너', '그린티 클렌징 워터', '센스티브 스킨 바디워시', '포레스트 포맨 프레시 스킨', '오토 립 라이너 펜슬', '니어스킨 셀프 컨트롤 필링 마사지', '컬러 인 립밤', '미니 스트레이트너', '마이크로 클렌징 폼', '딥클린 에너자이징 포밍 클렌저', '퍼플제이 풀세팅 헤어팩', '올인원 쿠션 [SPF50+/PA+++]', '모이스춰라이징 크림 마스크', '스킨', '차콜 마스크', '풀커버 스틱 컨실러', '순백 에센스', '슬림 아이브로우 펜슬', '인텐시브 바디로션', '커버 파운데이션 [SPF15/PA+]', '미스 플라워 앤 미스터 허니 크림', '블랙 솝', '그린티 프레쉬 토너', '머드 마스크', '딥클린 디톡 마스크팩', '에스에너지 올데이 프리퍼레이션 토너', '스팟', '로즈워터 미스트', '뉴이스트 허니 팩트', '티트리 스킨 클리어링 훼이셜 워시', '갈락토미세스 에센스', '모이스처 선크림 [SPF35/PA++]', '유채꿀 립 밤', '러블리 클렌징 워터 모이스처', '립 에센셜 스틱', '브러쉬 클렌저', '내추럴 컨디션 아보카도 클렌징 크림', '난코 매스틱 약산성 젤 폼', '모이스처라이징 토너', '듀이 그라스 센티드 캔들', '라벤더 위치하젤 토너', '알로에 카밍 토너', '12 컬러 아이섀도우 팔레트', '퓨어 립스틱', '더마 큐어솔루션 티타민 크림', '페이셜 클렌징 폼', '301 아이브로우', '퍼펙트 에센스 쿠션 [SPF50+/PA+++]', '녹터널 라인업 마스크', '어성초 천연 비누', '모발영양윤기 아보카도 컨디셔너', '타마누 울트라 모이스처라이징 크림', '더 클린 랩 헬씨 폼', '브로우 젤', '퍼펙트 화이트닝 쿠션 [SPF50+/PA+++]', '샘물 리얼 틴트', '아쿠아 크림', '뷰티툴 오일 컨트롤 필름', '스윗 송 블랙 티 에너지 클렌징 젤', '올리브 & 알로에베라 바디 밀크', '워터풀 클렌저', '하이드라 클렌징 젤', '순한 클렌징 동백 오일', '리페어 샴푸', '베이스 코트', '썬더볼 틴트 무스', '소스큐어 피에이치 밸런싱 미스트', '불가리안 로즈 인텐시브 리프팅 스팟 (코어탄력스팟)', '히알루론 앰플', '레꼬포렐 바디 스크럽', '나이트', '화이트닝 에멀전', '콜라겐 클렌징 폼', '라벤더 비누', '소형', '로얄젤리 마스크 시트', '앰플 세럼', '허니 아이 워시드 더 키즈', '프롬인그리디언트 바파 리퀴드', '인텐시브 립밤', '립 틴트 밤', '플랫립스', '댄디 브라운', '롱웨어 크림 섀도우 스틱', '슈퍼 스프라우트 크림', '더블 비타 세럼', '꿀잠팩', '슬랜트 트위저', '인텐시브 스킨 세럼 파운데이션 [SPF40/PA+++]', '라이스 레디안스 크림', '퍼펙트 올인원', '크림 치크 컬러', '프라임 프라이머 피팅 파운데이션 [SPF30/PA++]', '비쥬 드로잉 핸드크림 퓨리티', '리케닉 크림 우레아 5%', '딥 모이스트 크림', '아쿠아 젤 크림', '더 누드 팔레트', '그린티 퓨어 클렌징 오일', '네버 오일리 올인원', '블러 틴트', '바이오 에센스 인텐시브 컨디셔닝', '루쥬 아 레브르', '프로폴리스50진정토너', '오투 버블 클렌저', '비타민 톤업 크림', '커버 피팅 타투 파운데이션 [SPF35/PA++]', '퓨어 브라이트닝 플루이드', '에이지 컨트롤 파워 크림', '크리미 틴트 립스틱', '밸런싱 토너 ', '그린티 퓨어 젤 핸드크림', '골드 하이드로겔 마스크', '에코 소울 유브이 선 팩트 [SPF50+/PA++++]', '콜드 크림', '콜라겐 에센스 마스크 시트', '올 어라운드 세이프 블록 소프트 피니쉬 선밀크 [SPF50+/PA+++]', '마이크로 홀딩 포마드', '아크 컨트롤 세럼', '슈퍼롱 오버나이트', '비타 케어 화이트닝 시트 마스크', '그린티 미스트', '포밍 페이셜 클렌저', '미네랄 극세사 팩트', '클리얼리 코렉티브 브라이트닝 앤 수딩 모이스춰 트리트먼트', '모이스처 세라마이드 스킨 소프너', '터치 온 바디 플럼 바디 로션', '루즈 언리미티드 쉬어샤인', '결빛 클렌징 오일', '디얼래쉬 울트라 볼륨 마스카라', '아이 젤', '미네랄 립스틱', '스피루리나 크림', '물방울 클렌징 스펀지', '아임 립스틱', '겟 유어 크레용', '올리브 리얼 파워크림', '매직프레스 페디큐어', '내추럴 컨디션 퍼밍 마사지 크림', '젤 무쌍', '이데베논 선블럭 [SPF50+/PA++++]', '리얼 네이처 쉐어버터 마스크 시트', '롱래쉬 마스카라', '핑거팁 브러쉬', '터치 온 바디 자몽 바디 로션', '틴트스틱', '프리미엄 골드 콜라겐 앰플', '마데케어 연고', '라벤더 바디워시', '콜라겐 매트릭스 퓨어화이트', '아이 스머지 브러쉬', '컨실러 팔레트', '나이트홀릭 마스크', '그린티 슬리핑 팩', '퓨어', '훼이셜 퓨얼 에너자이징 모이스처 트리트먼트 포 맨', '순비누', '모이스트 업 수퍼 히아루론 앰플 세럼', '글리터 브러시', '어반 에코 하라케케 프레쉬 크림', '청포도 프레시 파운데이션', '인솔루션 플라센타 럭스 세럼', '더블케미 반반마스크', '솝베리 모이스춰 클렌징오일', '아이슬란드 마이크로 수분 에센스', '글리터 아이라이너', '아쿠아 프린트 아이섀도우', '유기농 순면커버 생리대 중형', '아토로션', '인텐스 리치 크림', '글래머 3D 볼류마이저', '유기농 꽃 발효 로션 더블리치', '이드라 베베 바디 로션', '잇 스타티드 위드 어 키스', '애니 쿠션 올데이 퍼펙트 [SPF50+/PA+++]', '리트랙터블 가부키 브러쉬', '라지 파우더 브러쉬', '올리브 리얼 로션', '아임 컨실러', '스크럽', '리-뉴트리브 울트라 래디언스 메이크업 [SPF15/PA+++]', '에이치투 더마데카 세럼 스프레이', '미스트 공용기', '시카 판테놀 데일리 선크림 [SPF50+/PA++++]', '순수보습 수분 미스트', '빅 아이 마스카라', '브론징 파우더', '밸런싱 토너', '오키드 임페리얼 리치크림', '웨지 스펀지', '프라이머 미스트', '헤어 오일', '아이샤', '리퀴드 매트', '베이비 샴푸앤바스', '에센스 스킨', '예현 정결 클렌징 폼', '쉐이빙 젤', '대즐링 아이 글리터', '유기농 모링가 토너', '리얼 애프터 케어 바이오 마스크', '플레이 네일 아트 젤 코트', '그린티 스킨 포맨', '글리터 파우더', '보타니컬 모이스트 트리트먼트', '블레미쉬 커버', '안티링클 에센스', '화이트닝 스팟 트리트먼트 세럼', '샤인 샤인 샤인 립글로스', '에센스 커버 팩트 VX [SPF50+/PA+++]', '멜팅 글로우 립스틱', '베이비 마일드 포밍 샴푸', '실크 이펙트 헤어트리트먼트', '시카 슬리핑 마스크', '프로페셔널 컨실러 브러쉬', '센텔라 멀티 밤', '동백 핸드 앤 큐티클 밤', '미네랄 블러셔', '볼륨 미스트', '실키마인 화장솜', '마이크로 홀딩 스프레이', '더블 모이스쳐 로션', '페이셜 트리트먼트 마스크', '아보배쓰', '펜슬깎이', '스킨 레쥬버네이팅 미라클 크림', '플레이 네일', '안티-링클 이펙트 크림', '데일리 페이스 워시', '촉촉 선 팩트 [SPF50+/PA+++]', '티트리 클리어링 토너', '세리엑스퍼트 비타미노 컬러 A.OX 젤리 마스크', '클렌징로션', '매트 아이섀도우', '에이지 컨트롤 파워 세럼', '네일 베이스 코트', '아토 수딩 크림', '연꽃 마스크팩', '금설 유액', '피니싱 브러쉬', '네일 폴리시', '쿠션 드 루나 프리미엄', '다이아몬드 마스크', '온 디퓨저 스윗체리', '모먼트 퍼퓸 [시트러스베르가미아]', '포레스트 배스 바디 워시 (제라늄)', '프라임 프라이머 피니쉬 파우더', '레몬 비누', '레드 세럼', '히아루론산 로션', '앰플 드 알바로사', '크렘프레쉬 리치 크림', '에코 어스 파워 노 세범 선 크림 [SPF50+/PA+++]', '풋 크림', '파운데이션 브러쉬', '아일랜드 그레이', '스킨밀크', '그린티 밸런싱 로션 EX', '세라마이딘 리퀴드 토너', '브라이트닝 클렌징오일', '휘핑 클렌징 폼', '청광 마린 진주 모이스처 트랜스 포밍 클레이 펄', '센스티브 브러쉬 마스카라', '프리미엄 골드 콜라겐 토너', '리파이닝 컬러보니 브로우 마스카라']

In [30]:
products_refined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87419 entries, 0 to 89058
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      87419 non-null  object
 1   rank            87419 non-null  int64
 2   title           87419 non-null  object
 3   volume          87419 non-null  object
 4   price           87396 non-null  float64
 5   reviewCnt       87419 non-null  int64
 6   ratingAvg       87419 non-null  float64
 7   productImg      87418 non-null  object
 8   isDiscontinue   87419 non-null  object
 9   rankChange      87419 non-null  object
 10  rankChangeType  87419 non-null  object
 11  brand           87419 non-null  object
 12  goodsInfo       87419 non-null  object
 13  brandName       87419 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 10.0+ MB

In [31]:
df_products = products_refined.copy ()

In [32]:
'코스메티 LED 마스크' in duplication_title_list

False

In [33]:
def transform_ (df, duplication_title_list):
    df ['title'] = df.apply (lambda row : row ['title'] + '_' + str (row ['product_id']) 
                             if row ['title'] in duplication_title_list 
                             else row ['title'], axis = 1)

In [34]:
transform_ (df_products, duplication_title_list)

In [35]:
df_products [df_products ['title'].isin (duplication_title_list)]

Empty DataFrame
Columns: [product_id, rank, title, volume, price, reviewCnt, ratingAvg, productImg, isDiscontinue, rankChange, rankChangeType, brand, goodsInfo, brandName]
Index: []

In [36]:
products_refined [products_refined ['title'] == '벨벳 립스틱']

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
33778,85917,37,벨벳 립스틱,3.5g,15000.0,47,4.36,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '모아트 (MOART)',...",{'goodsCount': 0},모아트 (MOART)
33923,99449,182,벨벳 립스틱,2g,10000.0,3,2.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': 'VT COSMETICS ...",{'goodsCount': 0},VT COSMETICS (브이티코스메틱)

In [37]:
df_products [df_products ['title'] == '벨벳 립스틱_85917']

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
33778,85917,37,벨벳 립스틱_85917,3.5g,15000.0,47,4.36,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '모아트 (MOART)',...",{'goodsCount': 0},모아트 (MOART)

In [38]:
df_products [df_products ['title'] == '벨벳 립스틱_99449']

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
33923,99449,182,벨벳 립스틱_99449,2g,10000.0,3,2.0,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': 'VT COSMETICS ...",{'goodsCount': 0},VT COSMETICS (브이티코스메틱)

In [39]:
products_refined [products_refined ['title'] == '립스틱']

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
15138,3108,17,립스틱,3g,31000.0,10508,4.17,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,2,show,"{'idBrand': None, 'brandTitle': '맥 (MAC)', 'br...",{'goodsCount': 0},맥 (MAC)
15486,12,0,립스틱,3.4g,37000.0,713,4.08,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,True,0,hide,"{'idBrand': None, 'brandTitle': '나스 (NARS)', '...",{'goodsCount': 0},나스 (NARS)

In [40]:
df_products [df_products ['title'] == '립스틱_3108']

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
15138,3108,17,립스틱_3108,3g,31000.0,10508,4.17,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,2,show,"{'idBrand': None, 'brandTitle': '맥 (MAC)', 'br...",{'goodsCount': 0},맥 (MAC)

In [41]:
df_products [df_products ['title'] == '립스틱_12']

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
15486,12,0,립스틱_12,3.4g,37000.0,713,4.08,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,True,0,hide,"{'idBrand': None, 'brandTitle': '나스 (NARS)', '...",{'goodsCount': 0},나스 (NARS)

In [42]:
df_products ['title'].str.count (pat = '\_').sum ()

2894

In [43]:
products_refined ['title'].str.count (pat = '\_').sum ()

173

In [44]:
2894 - 173

2721

In [45]:
reviews.isnull ().sum ()

contents         0
created_at       0
is_evaluation    0
like_count       0
rating           0
review_id        0
state            0
user_id          0
product_id       0
dtype: int64

In [46]:
df_products.isnull ().sum ()

product_id         0
rank               0
title              0
volume             0
price             23
reviewCnt          0
ratingAvg          0
productImg         1
isDiscontinue      0
rankChange         0
rankChangeType     0
brand              0
goodsInfo          0
brandName          0
dtype: int64

In [47]:
users.isnull ().sum ()

age                   1
birth_year            1
email                 0
gender                0
is_blinded            0
is_closed             0
is_inactivated        0
nickname              1
profile_image     31597
rank                  0
review_count          0
skin_type             0
user_id               0
dtype: int64

In [48]:
users.head ()

,age,birth_year,email,gender,is_blinded,is_closed,is_inactivated,nickname,profile_image,rank,review_count,skin_type,user_id
0,31.0,1990.0,yhcu88@naver.com,f,0,False,False,희뷰리,https://d9vmi5fxk1gsw.cloudfront.net/prod/regi...,27347,44,복합성,1281918
1,33.0,1988.0,winwinanna@hanmail.net,f,0,False,False,소극적인뷰터,NaN,41582,15,건성,1255686
2,37.0,1984.0,dmswjddlskfk@hanmail.net,f,0,False,False,greengables,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,946,375,지성,631689
3,32.0,1989.0,deer402@naver.com,f,0,False,True,백비송,https://d9vmi5fxk1gsw.cloudfront.net/prod/regi...,43404,29,건성,1188087
4,26.0,1995.0,kkr3348@naver.com,f,0,False,False,초코감귤,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,9386,97,복합성,632220

In [49]:
len (users ['age'].unique ())

79

In [50]:
users ['age'].value_counts ().head (47)

25.0    6368
26.0    6005
24.0    5688
27.0    5017
23.0    4918
21.0    4568
28.0    4118
22.0    4084
20.0    3942
29.0    3769
19.0    3675
18.0    3582
30.0    2982
17.0    2922
31.0    2549
32.0    1854
16.0    1637
33.0    1526
34.0    1209
35.0     949
36.0     781
15.0     722
37.0     604
38.0     537
39.0     443
40.0     351
41.0     288
42.0     194
14.0     151
44.0     124
43.0      98
45.0      86
46.0      83
48.0      71
47.0      61
49.0      57
50.0      55
51.0      53
4.0       51
52.0      33
6.0       32
54.0      28
53.0      25
13.0      22
56.0      20
55.0      18
57.0      14
Name: age, dtype: int64

In [51]:
users ['age'].value_counts ().tail (32)

 57.0      14
 121.0     11
 58.0      11
 7.0       11
 12.0      10
 3.0        9
 2.0        9
 60.0       8
 104.0      6
 62.0       5
 61.0       5
 11.0       5
 101.0      5
 59.0       4
 72.0       2
 103.0      2
 71.0       2
 102.0      2
 64.0       2
 8.0        2
 63.0       2
 105.0      2
-518.0      1
 67.0       1
 70.0       1
 9.0        1
 89.0       1
 98.0       1
 2016.0     1
 68.0       1
 2018.0     1
 1995.0     1
Name: age, dtype: int64

In [52]:
users.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76490 entries, 0 to 76489
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             76489 non-null  float64
 1   birth_year      76489 non-null  float64
 2   email           76490 non-null  object
 3   gender          76490 non-null  object
 4   is_blinded      76490 non-null  int64
 5   is_closed       76490 non-null  bool
 6   is_inactivated  76490 non-null  bool
 7   nickname        76489 non-null  object
 8   profile_image   44893 non-null  object
 9   rank            76490 non-null  int64
 10  review_count    76490 non-null  int64
 11  skin_type       76490 non-null  object
 12  user_id         76490 non-null  object
dtypes: bool(2), float64(2), int64(3), object(6)
memory usage: 6.6+ MB

In [53]:
# 0세 ~ 90세 회원 정보만 뽑아냄.  음수나이와 90세 이상은 제외
users = users [(users ['age'] < 90) & (users ['age'] > 0)]
users.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76456 entries, 0 to 76489
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             76456 non-null  float64
 1   birth_year      76456 non-null  float64
 2   email           76456 non-null  object
 3   gender          76456 non-null  object
 4   is_blinded      76456 non-null  int64
 5   is_closed       76456 non-null  bool
 6   is_inactivated  76456 non-null  bool
 7   nickname        76455 non-null  object
 8   profile_image   44871 non-null  object
 9   rank            76456 non-null  int64
 10  review_count    76456 non-null  int64
 11  skin_type       76456 non-null  object
 12  user_id         76456 non-null  object
dtypes: bool(2), float64(2), int64(3), object(6)
memory usage: 7.1+ MB

In [54]:
users.describe ()

                age    birth_year  is_blinded          rank  review_count
count  76456.000000  76456.000000     76456.0  7.645600e+04  76456.000000
mean      25.250118   1995.749882         0.0  6.909060e+04     41.476823
std        5.984109      5.984109         0.0  5.044060e+05     56.878904
min        2.000000   1932.000000         0.0  1.000000e+00    -46.000000
25%       21.000000   1993.000000         0.0  1.853600e+04     10.000000
50%       25.000000   1996.000000         0.0  3.840400e+04     26.000000
75%       28.000000   2000.000000         0.0  6.279600e+04     51.000000
max       89.000000   2019.000000         0.0  9.999999e+06   2003.000000

In [106]:
users.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76490 entries, 0 to 76489
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             76490 non-null  float64
 1   birth_year      76490 non-null  float64
 2   email           76490 non-null  object
 3   gender          76490 non-null  object
 4   is_blinded      76490 non-null  int64
 5   is_closed       76490 non-null  bool
 6   is_inactivated  76490 non-null  bool
 7   nickname        76489 non-null  object
 8   profile_image   44893 non-null  object
 9   rank            76490 non-null  int64
 10  review_count    76490 non-null  int64
 11  skin_type       76490 non-null  object
 12  user_id         76490 non-null  object
dtypes: bool(2), float64(2), int64(3), object(6)
memory usage: 6.6+ MB

In [55]:
reviews.describe ()

         like_count        rating
count  1.574817e+06  1.574817e+06
mean   4.032602e-01  3.775028e+00
std    2.401369e+00  1.097055e+00
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  3.000000e+00
50%    0.000000e+00  4.000000e+00
75%    0.000000e+00  5.000000e+00
max    4.940000e+02  5.000000e+00

In [56]:
df_products.describe ()

               rank         price     reviewCnt     ratingAvg
count  87419.000000  8.739600e+04  87419.000000  87419.000000
mean     135.845960  3.177278e+04     36.477368      2.559236
std      232.053576  5.114588e+04    243.091671      1.881431
min        0.000000  0.000000e+00      0.000000      0.000000
25%        0.000000  9.800000e+03      0.000000      0.000000
50%       16.000000  2.000000e+04      2.000000      3.400000
75%      178.000000  3.600000e+04     10.000000      4.000000
max     1397.000000  2.130000e+06  17521.000000      5.000000

In [57]:
df_products.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87419 entries, 0 to 89058
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      87419 non-null  object
 1   rank            87419 non-null  int64
 2   title           87419 non-null  object
 3   volume          87419 non-null  object
 4   price           87396 non-null  float64
 5   reviewCnt       87419 non-null  int64
 6   ratingAvg       87419 non-null  float64
 7   productImg      87418 non-null  object
 8   isDiscontinue   87419 non-null  object
 9   rankChange      87419 non-null  object
 10  rankChangeType  87419 non-null  object
 11  brand           87419 non-null  object
 12  goodsInfo       87419 non-null  object
 13  brandName       87419 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 10.0+ MB

In [58]:
df_products.head ()

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
0,108711,5,코스메티 LED 마스크,1ea,219000.0,4,3.75,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '아름다운연구소', 'br...",{'goodsCount': 0},아름다운연구소
1,118971,6,LED 마스크,1ea,149000.0,2,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '에끌레어 (eclair)...",{'goodsCount': 0},에끌레어 (eclair)
2,118819,7,디쎄 1.0 LED 마스크 [업무용],1ea,1320000.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0},닥터슈라클 (Dr.Ceuracle)
3,90929,8,LED 리얼 마스크,1ea,198000.0,1,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '솔루미에스테 (SOLLU...",{'goodsCount': 0},솔루미에스테 (SOLLUME ESTHE)
4,127206,9,인텐시브 LED 마스크 프리미엄,1ea,1517100.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '엘리닉 (L Linic)...",{'goodsCount': 0},엘리닉 (L Linic)

In [59]:
reviews.describe ()

         like_count        rating
count  1.574817e+06  1.574817e+06
mean   4.032602e-01  3.775028e+00
std    2.401369e+00  1.097055e+00
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  3.000000e+00
50%    0.000000e+00  4.000000e+00
75%    0.000000e+00  5.000000e+00
max    4.940000e+02  5.000000e+00

In [78]:
reviews.isnull ().sum ()

contents         0
created_at       0
is_evaluation    0
like_count       0
rating           0
review_id        0
state            0
user_id          0
product_id       0
dtype: int64

In [79]:
reviews.dtypes

contents         object
created_at       object
is_evaluation      bool
like_count        int64
rating            int64
review_id        object
state            object
user_id          object
product_id       object
dtype: object

In [81]:
users.dtypes

age               float64
birth_year        float64
email              object
gender             object
is_blinded          int64
is_closed            bool
is_inactivated       bool
nickname           object
profile_image      object
rank                int64
review_count        int64
skin_type          object
user_id            object
dtype: object

In [82]:
users.isnull ().sum ()

age                   0
birth_year            0
email                 0
gender                0
is_blinded            0
is_closed             0
is_inactivated        0
nickname              1
profile_image     31585
rank                  0
review_count          0
skin_type             0
user_id               0
dtype: int64

In [133]:
review_user_df = pd.merge (reviews, users, how = 'left', on = 'user_id')
review_user_df.head ()

,contents,created_at,is_evaluation,like_count,rating,review_id,state,user_id,product_id,age,...,email,gender,is_blinded,is_closed,is_inactivated,nickname,profile_image,rank,review_count,skin_type
0,"티 컬렉션으로 출시되었던 제품으로, 가벼운 녹차향이 납니다. 향 자체는 좀 날리는 ...",2020-04-30T02:12:36Z,False,0,3,5416271,N,119763,100000,36.0,...,intears23@naver.com,f,0.0,False,False,kyo,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,2914.0,205.0,복합성
1,살짝 로션같이 짜지고 묽음.\r\n향은 독하지 않고 적절히 향긋함.\r\n거품잘남\...,2020-03-15T09:08:20Z,False,0,4,5340616,N,338669,100000,38.0,...,hihearyeong@naver.com,f,0.0,False,False,뭐라,https://d9vmi5fxk1gsw.cloudfront.net/prod/regi...,1023.0,285.0,중성
2,"해피바스는 무난하고 순한 매력이 있음! 다른것들도 잘 썼지만 정말 무난함,, 그치만...",2020-01-21T01:29:44Z,False,0,3,5228598,N,24862,100000,28.0,...,leemj1993@naver.com,f,0.0,False,False,민졍,NaN,2292.0,230.0,복합성
3,순하고 가격적으로 무난해서 쓰기 괜찮아요오오,2020-01-18T08:03:59Z,False,0,4,5225359,N,1331797,100000,20.0,...,betcha2001@naver.com,f,0.0,False,False,Gravity,NaN,36233.0,36.0,복합성
4,성분이 착해서 샀고 타입이 폼이라 짜서 쓰는 젤보다 약간 귀찮지만 거품은 바로 많이...,2020-01-11T07:15:15Z,False,0,4,5211274,N,888968,100000,33.0,...,milk_madam@hanmail.net,f,0.0,False,False,이게모람,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,6737.0,108.0,복합성

In [108]:
review_user_df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1574817 entries, 0 to 1574816
Data columns (total 21 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   contents        1574817 non-null  object
 1   created_at      1574817 non-null  object
 2   is_evaluation   1574817 non-null  bool
 3   like_count      1574817 non-null  int64
 4   rating          1574817 non-null  int64
 5   review_id       1574817 non-null  object
 6   state           1574817 non-null  object
 7   user_id         1574817 non-null  object
 8   product_id      1574817 non-null  object
 9   age             1472552 non-null  float64
 10  birth_year      1472552 non-null  float64
 11  email           1472552 non-null  object
 12  gender          1472552 non-null  object
 13  is_blinded      1472552 non-null  float64
 14  is_closed       1472552 non-null  object
 15  is_inactivated  1472552 non-null  object
 16  nickname        1472541 non-null  object
 17  profile_image   1025867 non-null  object
 18  rank            1472552 non-null  float64
 19  review_count    1472552 non-null  float64
 20  skin_type       1472552 non-null  object
dtypes: bool(1), float64(5), int64(2), object(13)
memory usage: 253.8+ MB

In [62]:
df_products.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87419 entries, 0 to 89058
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      87419 non-null  object
 1   rank            87419 non-null  int64
 2   title           87419 non-null  object
 3   volume          87419 non-null  object
 4   price           87396 non-null  float64
 5   reviewCnt       87419 non-null  int64
 6   ratingAvg       87419 non-null  float64
 7   productImg      87418 non-null  object
 8   isDiscontinue   87419 non-null  object
 9   rankChange      87419 non-null  object
 10  rankChangeType  87419 non-null  object
 11  brand           87419 non-null  object
 12  goodsInfo       87419 non-null  object
 13  brandName       87419 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 10.0+ MB

In [63]:
review_user_product_df = pd.merge (review_user_df, df_products, how = 'left', on = 'product_id')
review_user_product_df.head (3)

,contents,created_at,is_evaluation,like_count,rating,review_id,state,user_id,product_id,age,...,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName
0,"티 컬렉션으로 출시되었던 제품으로, 가벼운 녹차향이 납니다. 향 자체는 좀 날리는 ...",2020-04-30T02:12:36Z,False,0,3,5416271,N,119763,100000,36.0,...,11000.0,11.0,3.64,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '해피바스 (HAPPY B...",{'goodsCount': 0},해피바스 (HAPPY BATH)
1,살짝 로션같이 짜지고 묽음.\r\n향은 독하지 않고 적절히 향긋함.\r\n거품잘남\...,2020-03-15T09:08:20Z,False,0,4,5340616,N,338669,100000,38.0,...,11000.0,11.0,3.64,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '해피바스 (HAPPY B...",{'goodsCount': 0},해피바스 (HAPPY BATH)
2,"해피바스는 무난하고 순한 매력이 있음! 다른것들도 잘 썼지만 정말 무난함,, 그치만...",2020-01-21T01:29:44Z,False,0,3,5228598,N,24862,100000,28.0,...,11000.0,11.0,3.64,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '해피바스 (HAPPY B...",{'goodsCount': 0},해피바스 (HAPPY BATH)

In [132]:
product_categories.head (3)

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName,firstCategoryText,idFirstCategory,idSecondCategory,idThirdCategory,secondCategoryText,thirdCategoryText
0,108711,5,코스메티 LED 마스크,1ea,219000.0,4,3.75,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '아름다운연구소', 'br...",{'goodsCount': 0},아름다운연구소,디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
1,118971,6,LED 마스크,1ea,149000.0,2,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '에끌레어 (eclair)...",{'goodsCount': 0},에끌레어 (eclair),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
2,118819,7,디쎄 1.0 LED 마스크 [업무용],1ea,1320000.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0},닥터슈라클 (Dr.Ceuracle),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크

In [65]:
product_categories.head (3)

,firstCategoryText,idFirstCategory,idSecondCategory,idThirdCategory,secondCategoryText,thirdCategoryText,product_id
0,프래그런스,15,83,246,향수,여성향수,10000
1,클렌징,7,32,112,페이셜클렌저,클렌징폼,100000
2,립메이크업,3,15,50,립틴트/라커,글로시/젤틴트,1030

In [115]:
review_user_product_df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1574817 entries, 0 to 1574816
Data columns (total 34 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   contents        1574817 non-null  object
 1   created_at      1574817 non-null  object
 2   is_evaluation   1574817 non-null  bool
 3   like_count      1574817 non-null  int64
 4   rating          1574817 non-null  int64
 5   review_id       1574817 non-null  object
 6   state           1574817 non-null  object
 7   user_id         1574817 non-null  object
 8   product_id      1574817 non-null  object
 9   age             1472144 non-null  float64
 10  birth_year      1472144 non-null  float64
 11  email           1472144 non-null  object
 12  gender          1472144 non-null  object
 13  is_blinded      1472144 non-null  float64
 14  is_closed       1472144 non-null  object
 15  is_inactivated  1472144 non-null  object
 16  nickname        1472133 non-null  object
 17  profile_image   1025674 non-null  object
 18  rank_x          1472144 non-null  float64
 19  review_count    1472144 non-null  float64
 20  skin_type       1472144 non-null  object
 21  rank_y          1564554 non-null  float64
 22  title           1564554 non-null  object
 23  volume          1564554 non-null  object
 24  price           1564257 non-null  float64
 25  reviewCnt       1564554 non-null  float64
 26  ratingAvg       1564554 non-null  float64
 27  productImg      1564552 non-null  object
 28  isDiscontinue   1564554 non-null  object
 29  rankChange      1564554 non-null  object
 30  rankChangeType  1564554 non-null  object
 31  brand           1564554 non-null  object
 32  goodsInfo       1564554 non-null  object
 33  brandName       1564554 non-null  object
dtypes: bool(1), float64(9), int64(2), object(22)
memory usage: 410.0+ MB

In [71]:
total_merged_df = pd.merge (review_user_product_df, product_categories, how = 'left', on = 'product_id')
total_merged_df.head (3)

,contents,created_at,is_evaluation,like_count,rating,review_id,state,user_id,product_id,age,...,rankChangeType,brand,goodsInfo,brandName,firstCategoryText,idFirstCategory,idSecondCategory,idThirdCategory,secondCategoryText,thirdCategoryText
0,"티 컬렉션으로 출시되었던 제품으로, 가벼운 녹차향이 납니다. 향 자체는 좀 날리는 ...",2020-04-30T02:12:36Z,False,0,3,5416271,N,119763,100000,36.0,...,show,"{'idBrand': None, 'brandTitle': '해피바스 (HAPPY B...",{'goodsCount': 0},해피바스 (HAPPY BATH),클렌징,7.0,32.0,112.0,페이셜클렌저,클렌징폼
1,살짝 로션같이 짜지고 묽음.\r\n향은 독하지 않고 적절히 향긋함.\r\n거품잘남\...,2020-03-15T09:08:20Z,False,0,4,5340616,N,338669,100000,38.0,...,show,"{'idBrand': None, 'brandTitle': '해피바스 (HAPPY B...",{'goodsCount': 0},해피바스 (HAPPY BATH),클렌징,7.0,32.0,112.0,페이셜클렌저,클렌징폼
2,"해피바스는 무난하고 순한 매력이 있음! 다른것들도 잘 썼지만 정말 무난함,, 그치만...",2020-01-21T01:29:44Z,False,0,3,5228598,N,24862,100000,28.0,...,show,"{'idBrand': None, 'brandTitle': '해피바스 (HAPPY B...",{'goodsCount': 0},해피바스 (HAPPY BATH),클렌징,7.0,32.0,112.0,페이셜클렌저,클렌징폼

In [121]:
len (total_merged_df)

1965802

In [ ]:
categor

In [131]:
product_categories.head (20)

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName,firstCategoryText,idFirstCategory,idSecondCategory,idThirdCategory,secondCategoryText,thirdCategoryText
0,108711,5,코스메티 LED 마스크,1ea,219000.0,4,3.75,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '아름다운연구소', 'br...",{'goodsCount': 0},아름다운연구소,디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
1,118971,6,LED 마스크,1ea,149000.0,2,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '에끌레어 (eclair)...",{'goodsCount': 0},에끌레어 (eclair),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
2,118819,7,디쎄 1.0 LED 마스크 [업무용],1ea,1320000.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0},닥터슈라클 (Dr.Ceuracle),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
3,90929,8,LED 리얼 마스크,1ea,198000.0,1,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '솔루미에스테 (SOLLU...",{'goodsCount': 0},솔루미에스테 (SOLLUME ESTHE),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
4,127206,9,인텐시브 LED 마스크 프리미엄,1ea,1517100.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '엘리닉 (L Linic)...",{'goodsCount': 0},엘리닉 (L Linic),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
5,131956,10,플러스 더마 LED 마스크,1ea,899000.0,1,4.00,https://d9vmi5fxk1gsw.cloudfront.net/var/app/c...,False,0,new,"{'idBrand': None, 'brandTitle': '프라엘 (Pra L)',...",{'goodsCount': 0},프라엘 (Pra L),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
6,127123,11,인텐시브 LED 마스크,1ea,990000.0,1,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,-1,show,"{'idBrand': None, 'brandTitle': '엘리닉 (L Linic)...",{'goodsCount': 0},엘리닉 (L Linic),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
7,119892,12,디쎄 홈 LED 마스크 [3파장],1p,720000.0,1,3.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,-1,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0},닥터슈라클 (Dr.Ceuracle),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
8,125570,0,LED 라이트 테라피 페이스 마스크 version 2,1ea,139000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,hide,"{'idBrand': None, 'brandTitle': '웰더마 (WellDerm...",{'goodsCount': 0},웰더마 (WellDerma),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
9,125568,0,LED 라이트 테라피 페이스 마스크 version1,1ea,65000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,hide,"{'idBrand': None, 'brandTitle': '웰더마 (WellDerm...",{'goodsCount': 0},웰더마 (WellDerma),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
10,131989,0,LED 테라피 마스크,1ea,149000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/var/app/c...,False,0,hide,"{'idBrand': None, 'brandTitle': '셀라랩 (CELLA LA...",{'goodsCount': 0},셀라랩 (CELLA LAB),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
11,131952,0,LED마스크 라이트플러스,1ea,899000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/var/app/c...,False,0,hide,"{'idBrand': None, 'brandTitle': '셀리턴 (CELLRETU...",{'goodsCount': 0},셀리턴 (CELLRETURN),스킨케어,1.0,3.0,16.0,에센스/세럼,브라이트닝에센스
12,131952,0,LED마스크 라이트플러스,1ea,899000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/var/app/c...,False,0,hide,"{'idBrand': None, 'brandTitle': '셀리턴 (CELLRETU...",{'goodsCount': 0},셀리턴 (CELLRETURN),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
13,131953,0,LED마스크 라이트플러스2,1ea,1120000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/var/app/c...,False,0,hide,"{'idBrand': None, 'brandTitle': '셀리턴 (CELLRETU...",{'goodsCount': 0},셀리턴 (CELLRETURN),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
14,131954,0,LED마스크 블랙에디션,1ea,1747000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/var/app/c...,False,0,hide,"{'idBrand': None, 'brandTitle': '셀리턴 (CELLRETU...",{'goodsCount': 0},셀리턴 (CELLRETURN),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
15,131935,0,LED마스크 프리미엄,1ea,1747000.0,1,4.00,https://d9vmi5fxk1gsw.cloudfront.net/var/app/c...,False,0,hide,"{'idBrand': None, 'brandTitle': '셀리턴 (CELLRETU...",{'goodsCount': 0},셀리턴 (CELLRETURN),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
16,127680,0,LED마스크 플래티넘,1ea,2130000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,hide,"{'idBrand': None, 'brandTitle': '셀리턴 (CELLRETU...",{'goodsCount': 0},셀리턴 (CELLRETURN),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
17,104217,0,근적외선 LED 마스크,1ea,1345000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,hide,"{'idBrand': None, 'brandTitle': '엠엠코리아 (mmkore...",{'goodsCount': 0},엠엠코리아 (mmkorea),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
18,118037,0,더마 LED 마스크,1ea,368000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,hide,"{'idBrand': None, 'brandTitle': '티에스트 (TIEST)'...",{'goodsCount': 0},티에스트 (TIEST),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
19,117821,0,더마 LED 마스크 6,1ea,1790000.0,0,0.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,hide,"{'idBrand': None, 'brandTitle': '더레드립 (THE RED...",{'goodsCount': 0},더레드립 (THE RED LIP),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크

In [124]:
df_1 = pd.DataFrame ({'A' : ['a', 'b', 'c'], 'B' : ['AAA', 'BBB', 'CCC']})
df_1

   A    B
0  a  AAA
1  b  BBB
2  c  CCC

In [127]:
df_3 = pd.DataFrame ({'A' : ['a', 'a', 'b', 'a'], 'value' : [1, 2, 3, 4]})
df_3

   A  value
0  a      1
1  a      2
2  b      3
3  a      4

In [126]:
df_1.merge(df_3, how='left', left_on='A', right_on='key')

   A    B  key  value
0  a  AAA    a    1.0
1  a  AAA    a    2.0
2  a  AAA    a    4.0
3  b  BBB    b    3.0
4  c  CCC  NaN    NaN

In [130]:
pd.merge (df_1, df_3, how = 'left', on = 'A')

   A    B  value
0  a  AAA    1.0
1  a  AAA    2.0
2  a  AAA    4.0
3  b  BBB    3.0
4  c  CCC    NaN

In [118]:
df_products.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87419 entries, 0 to 89058
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      87419 non-null  object
 1   rank            87419 non-null  int64
 2   title           87419 non-null  object
 3   volume          87419 non-null  object
 4   price           87396 non-null  float64
 5   reviewCnt       87419 non-null  int64
 6   ratingAvg       87419 non-null  float64
 7   productImg      87418 non-null  object
 8   isDiscontinue   87419 non-null  object
 9   rankChange      87419 non-null  object
 10  rankChangeType  87419 non-null  object
 11  brand           87419 non-null  object
 12  goodsInfo       87419 non-null  object
 13  brandName       87419 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 10.0+ MB

In [119]:
product_categories.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96678 entries, 0 to 96677
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          96678 non-null  object
 1   rank                96678 non-null  int64
 2   title               96678 non-null  object
 3   volume              96678 non-null  object
 4   price               96650 non-null  float64
 5   reviewCnt           96678 non-null  int64
 6   ratingAvg           96678 non-null  float64
 7   productImg          96677 non-null  object
 8   isDiscontinue       96678 non-null  object
 9   rankChange          96678 non-null  object
 10  rankChangeType      96678 non-null  object
 11  brand               96678 non-null  object
 12  goodsInfo           96678 non-null  object
 13  brandName           96678 non-null  object
 14  firstCategoryText   86968 non-null  object
 15  idFirstCategory     86968 non-null  float64
 16  idSecondCategory    86968 non-null  float64
 17  idThirdCategory     86968 non-null  float64
 18  secondCategoryText  86968 non-null  object
 19  thirdCategoryText   86955 non-null  object
dtypes: float64(5), int64(2), object(13)
memory usage: 15.5+ MB

In [116]:
product_categories = pd.merge (df_products, product_categories, how = 'left', on = 'product_id')
product_categories.head (3)

,product_id,rank,title,volume,price,reviewCnt,ratingAvg,productImg,isDiscontinue,rankChange,rankChangeType,brand,goodsInfo,brandName,firstCategoryText,idFirstCategory,idSecondCategory,idThirdCategory,secondCategoryText,thirdCategoryText
0,108711,5,코스메티 LED 마스크,1ea,219000.0,4,3.75,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '아름다운연구소', 'br...",{'goodsCount': 0},아름다운연구소,디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
1,118971,6,LED 마스크,1ea,149000.0,2,4.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '에끌레어 (eclair)...",{'goodsCount': 0},에끌레어 (eclair),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크
2,118819,7,디쎄 1.0 LED 마스크 [업무용],1ea,1320000.0,1,5.00,https://d9vmi5fxk1gsw.cloudfront.net/home/glow...,False,0,show,"{'idBrand': None, 'brandTitle': '닥터슈라클 (Dr.Ceu...",{'goodsCount': 0},닥터슈라클 (Dr.Ceuracle),디바이스,16.0,85.0,255.0,뷰티디바이스,LED마스크

In [117]:
product_categories.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96678 entries, 0 to 96677
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          96678 non-null  object
 1   rank                96678 non-null  int64
 2   title               96678 non-null  object
 3   volume              96678 non-null  object
 4   price               96650 non-null  float64
 5   reviewCnt           96678 non-null  int64
 6   ratingAvg           96678 non-null  float64
 7   productImg          96677 non-null  object
 8   isDiscontinue       96678 non-null  object
 9   rankChange          96678 non-null  object
 10  rankChangeType      96678 non-null  object
 11  brand               96678 non-null  object
 12  goodsInfo           96678 non-null  object
 13  brandName           96678 non-null  object
 14  firstCategoryText   86968 non-null  object
 15  idFirstCategory     86968 non-null  float64
 16  idSecondCategory    86968 non-null  float64
 17  idThirdCategory     86968 non-null  float64
 18  secondCategoryText  86968 non-null  object
 19  thirdCategoryText   86955 non-null  object
dtypes: float64(5), int64(2), object(13)
memory usage: 15.5+ MB

In [120]:
product_categories.isnull ().sum ()

product_id               0
rank                     0
title                    0
volume                   0
price                   28
reviewCnt                0
ratingAvg                0
productImg               1
isDiscontinue            0
rankChange               0
rankChangeType           0
brand                    0
goodsInfo                0
brandName                0
firstCategoryText     9710
idFirstCategory       9710
idSecondCategory      9710
idThirdCategory       9710
secondCategoryText    9710
thirdCategoryText     9723
dtype: int64

In [113]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87419 entries, 0 to 89058
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      87419 non-null  object
 1   rank            87419 non-null  int64
 2   title           87419 non-null  object
 3   volume          87419 non-null  object
 4   price           87396 non-null  float64
 5   reviewCnt       87419 non-null  int64
 6   ratingAvg       87419 non-null  float64
 7   productImg      87418 non-null  object
 8   isDiscontinue   87419 non-null  object
 9   rankChange      87419 non-null  object
 10  rankChangeType  87419 non-null  object
 11  brand           87419 non-null  object
 12  goodsInfo       87419 non-null  object
 13  brandName       87419 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 10.0+ MB

In [72]:
total_merged_df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965802 entries, 0 to 1965801
Data columns (total 40 columns):
 #   Column              Dtype
---  ------              -----
 0   contents            object
 1   created_at          object
 2   is_evaluation       bool
 3   like_count          int64
 4   rating              int64
 5   review_id           object
 6   state               object
 7   user_id             object
 8   product_id          object
 9   age                 float64
 10  birth_year          float64
 11  email               object
 12  gender              object
 13  is_blinded          float64
 14  is_closed           object
 15  is_inactivated      object
 16  nickname            object
 17  profile_image       object
 18  rank_x              float64
 19  review_count        float64
 20  skin_type           object
 21  rank_y              float64
 22  title               object
 23  volume              object
 24  price               float64
 25  reviewCnt           float64
 26  ratingAvg           float64
 27  productImg          object
 28  isDiscontinue       object
 29  rankChange          object
 30  rankChangeType      object
 31  brand               object
 32  goodsInfo           object
 33  brandName           object
 34  firstCategoryText   object
 35  idFirstCategory     float64
 36  idSecondCategory    float64
 37  idThirdCategory     float64
 38  secondCategoryText  object
 39  thirdCategoryText   object
dtypes: bool(1), float64(12), int64(2), object(25)
memory usage: 601.8+ MB

In [112]:
total_merged_df.isnull ().sum ()

contents                   0
created_at                 0
is_evaluation              0
like_count                 0
rating                     0
review_id                  0
state                      0
user_id                    0
product_id                 0
age                   128747
birth_year            128747
email                 128747
gender                128747
is_blinded            128747
is_closed             128747
is_inactivated        128747
nickname              128760
profile_image         686434
rank_x                128747
review_count          128747
skin_type             128747
rank_y                 12844
title                  12844
volume                 12844
price                  13683
reviewCnt              12844
ratingAvg              12844
productImg             12846
isDiscontinue          12844
rankChange             12844
rankChangeType         12844
brand                  12844
goodsInfo              12844
brandName              12844
firstCategoryText      54684
idFirstCategory        54684
idSecondCategory       54684
idThirdCategory        54684
secondCategoryText     54684
thirdCategoryText      55189
dtype: int64

In [75]:
total_merged_df.astype ({'idFirstCategory' : 'int64', 'idSecondCategory' : 'int64', 'idThirdCategory' : 'int64'})
total_merged_df.dtypes

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [69]:
product_categories.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88756 entries, 0 to 88755
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   firstCategoryText   88756 non-null  object
 1   idFirstCategory     88756 non-null  int64
 2   idSecondCategory    88756 non-null  int64
 3   idThirdCategory     88756 non-null  int64
 4   secondCategoryText  88756 non-null  object
 5   thirdCategoryText   88704 non-null  object
 6   product_id          88756 non-null  object
dtypes: int64(3), object(4)
memory usage: 4.7+ MB

In [74]:
used_columns = ['rating', 'user_id', 'product_id', 'age', 'gender', 'price', 'brandName', 'idFirstCategory', 'idSecondCategory', 'idThirdCategory']

glowpick_df = total_merged_df.loc [:, used_columns]
glowpick_df.head ()

,rating,user_id,product_id,age,gender,price,brandName,idFirstCategory,idSecondCategory,idThirdCategory
0,3,119763,100000,36.0,f,11000.0,해피바스 (HAPPY BATH),7.0,32.0,112.0
1,4,338669,100000,38.0,f,11000.0,해피바스 (HAPPY BATH),7.0,32.0,112.0
2,3,24862,100000,28.0,f,11000.0,해피바스 (HAPPY BATH),7.0,32.0,112.0
3,4,1331797,100000,20.0,f,11000.0,해피바스 (HAPPY BATH),7.0,32.0,112.0
4,4,888968,100000,33.0,f,11000.0,해피바스 (HAPPY BATH),7.0,32.0,112.0

In [77]:
users.isnull ().sum ()

age                   0
birth_year            0
email                 0
gender                0
is_blinded            0
is_closed             0
is_inactivated        0
nickname              1
profile_image     31585
rank                  0
review_count          0
skin_type             0
user_id               0
dtype: int64

In [76]:
glowpick_df.isnull ().sum ()

rating                   0
user_id                  0
product_id               0
age                 128747
gender              128747
price                13683
brandName            12844
idFirstCategory      54684
idSecondCategory     54684
idThirdCategory      54684
dtype: int64

In [114]:
glowpick_df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965802 entries, 0 to 1965801
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   rating            int64
 1   user_id           object
 2   product_id        object
 3   age               float64
 4   gender            object
 5   price             float64
 6   brandName         object
 7   idFirstCategory   float64
 8   idSecondCategory  float64
 9   idThirdCategory   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 165.0+ MB